author: Tracy Osborn
date: 2008-12-11
featuredimage:
featured:
title: Don't Settle For Easy
category: articles

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

> Keep working, keep learning, and don't be discouraged. Apprentice yourself to, or work with, people who know what they're doing. Don't settle for easy. Don't be too lenient on your own work. Don't accept the first job you're offered. Don't stay in a bad job, you'll be miserable all the time, and you'll have nothing to show for your years.
> 
> Be excited! You're inventing something new on the planet. Imitate to get started, sure, but don't settle for copying any master, because nobody has really figured this out yet, and the person who figures it out best just might be you.

~[Jeffrey Zeldman at designinterviews.com](http://www.designinterviews.com/interviews/jeffrey-zeldman-Inventing-Something-New-on-the-Planet)
{% endfilter %}
{% endblock body %}
