date: 2012-11-08
featuredimage:
featured:
author: tracy@limedaring.com
title: Why WeddingLovely releases a print product, and how we do it.
category: entrepreneurship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

I wrote over on the WeddingLovely Blog on why we release a print product (our bi-yearly WeddingLovely Lookbook) and how we do it with a very limited team and time.

[See the article over on the WeddingLovely Blog.](http://weddinglovely.com/blog/why-our-online-startup-releases-a-print-product-and-how-we-do-it/)

{% endfilter %}
{% endblock body %}
