date: 2014-03-03
featuredimage:
featured:
author: Tracy Osborn
comments: true
excerpt: The Female Founders Conference by Y Combinator was last Saturday, attracting hundreds of female startup founders (and aspiring founders) to Mountain View, some flying from across the country to attend. The unfortunate thing is that whenever a female-focused event like this occurs, inevitable kvetching over sexism and discrimination takes over discussions about the event on Hacker News. As a female founder myself and someone who has attended both the Female Founders Conference as well as general startup events like Startup School, I'd like to share why these events are so important to me, and how they're important to the startup industry in general.
title: Why we need events like the Female Founders Conference
category: entrepreneurship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

The [Female Founders Conference](http://femalefoundersconference.org/) by [Y Combinator](http://ycombinator.com) was last Saturday, attracting hundreds of female startup founders (and aspiring founders) to Mountain View, some flying from across the country to attend. The unfortunate thing is that whenever a female-focused event like this occurs, [inevitable kvetching over sexism and discrimination takes over discussions about the event on Hacker News](https://news.ycombinator.com/item?id=7326418).





As a female founder myself ([WeddingLovely](http://weddinglovely.com/), a part of [500 Startup's](http://500.co/) F11 batch and the [Designer Fund](http://designerfund.com/)) and someone who has attended both the Female Founders Conference as well as general startup events like [Startup School](http://startupschool.org/), I'd like to share why these events are so important to me, and how they're important to the startup industry in general.





## There are better and more intimate stories when the speaker has a special relationship with the audience.





The Female Founder Conference might have just invited all women to the event, but was entirely live-streamed and put online for anyone, regardless of gender, to view. That said, the female-only audience led to more honest and intimate stories from the founders. These stories of failure, pivots, conflict, and pain are inspiring to all genders, and these stories from female founders are easier to share with an audience of female founders like themselves.





The topic and context of discussion at the Female Founders conference was vastly different from other conferences I've attended. **Having speakers who are clearly rooting for their audience pushes them to share intimate perspectives without the bravado and posturing that our industry has come to expect.**





I remember sitting in the audience of Startup School trying to decide whether the speaker was making an elaborate hiring pitch or simply bragging. On the other hand, hearing about Adora Cheung's (of [Homejoy](http://www.homejoy.com/)) struggle, repeated failures, lessons learned, and the shaky road to explosive growth was truly humbling. Listening to the panel of women reminisce about completely sexist remarks and how they overcame them was inspiring. Hearing how it _is_ possible to grow a startup after having a child was unprecedented.





Someday, I hope to hear these kinds of sore topics in more gender-inclusive conferences, but I think we have a way's to go until then.





## These discussions help women stay in the workforce while raising a family.





There's always a comment about [how women shouldn't be hired because they're going to quit to become moms anyways](https://news.ycombinator.com/item?id=7327473). Michelle Crosby, the founder and CEO of [Wevorce](http://www.wevorce.com/), after raising a round while pregnant, was told by a VC, "[Oh, if I'd known you were going to get pregnant, I wouldn't have invested.](https://www.youtube.com/watch?feature=player_detailpage&v=QDaqt9NzDUc#t=13269)" Which is absolutely ridiculous, and while the VC eventually apologized for his statement, still says something that this was his knee-jerk reaction.





Several of the speakers at the Female Founders Conference were moms, had children while they were founding their companies, and are proof that you can raise kids and successfully run a company. Jessica Livingston, one of the founders of Y Combinator, spoke candidly about trying to have kids before founding a company due to the stress (but if you have kids already, you can make it work.) The discussion about having kids while founding a company came up repeatedly. **These are the kind of discussions that women need to have, but are absent from traditional startup conferences.**





Many women feel like they have to quit when having kids due to the pressures of society to focus on their children. Books like [Sheryl Sandberg's Lean In](http://www.amazon.com/gp/product/B009LMTDL0/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B009LMTDL0&linkCode=as2&tag=limedaring-20) and conferences like the Female Founder Conference help women understand that they don't have to give up their career and startup ambitions in order to have kids. These discussions will also help reduce the turnover of women leaving the workplace.





## Role models





Knowing that there are people like me who have succeeded is powerful and motivating. The Female Founders Conference had a range of role models, from Jessica Mah (the founder of [Indinero](http://indinero.com/), who is 23 years old, determined, and unapologetically confident) to Diane Greene (the 57 year old former founder and CEO of [VMware](http://www.vmware.com/)). **Seeing people _like you_ is powerful because it's easy to visualize yourself in their shoes - "if they could do it, so can I."**





## Camaraderie





At my former job at a tech startup, I was the sole female for three years. All of the guys in the company were my friends and I felt respected — usually. There were times when every secretary-like job always seemed to be assigned to me, like fetching coffee or taking notes. Further, I did feel alone. Women are the minority in tech and even more so in startups.





**Finding friends who are going through the same thing as you are, who you can keep in contact with after the event, is incredibly valuable.** And again, while you can meet these kinds of people at all kinds of tech events, it's easier at a conference dedicated to people in your exact situation — in this case, women founding startups.





* * *





The most important thing that I'd like to emphasize is that these conferences aren't subtracting the amount of information available for male founders. This event is an addition to the amount of information available — Y Combinator still run their Startup School event yearly. 





People will always want to meet up with other like-minded and like-circumstanced people, and these distinctions can be really granular. There are events open only to alumni of specific schools like Stanford, or [groups dedicated to black founders](http://www.blackfounders.com/), or for people who live in certain areas. An event focused on female founders is no different and is not sexist.





**I left the Female Founders Conference feeling excited about my future as a female founder, optimistic about my career if/when I decide to have a family, and armed with a cadre of new friends that I can turn to when I need to talk about the struggles of being female in a male-dominated industry.**





See the entire event online on [Youtube](https://www.youtube.com/watch?v=QDaqt9NzDUc). Feel free to direct comments to me at [hi@limedaring.com](mailto:hi@limedaring.com) or [on Twitter at @limedaring](http://twitter.com/limedaring).





My sincere thanks to Y Combinator for throwing such a wonderful event — it was inspiring and motivating.
{% endfilter %}
{% endblock body %}
