author: Tracy Osborn
comments: true
layout: post
title: What I've been up to lately
category: personal

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

I'm tired, y'all.

I feel kind of like a terrible marketer right now, because [Hello Web App: Intermediate Concepts](https://hellowebapp.com/order) was officially released yesterday and this is my first real announcement about it. Whoops. The whole reason I was going to release it in early December was so I could do a whole holiday marketing campaign and that's just not going to happen.

It's mostly my fault — I've been running around fairly consistently since late spring, when I flew to NYC and then London and then went to Wales for DjangoCon EU, then I stayed in Europe for three months, then I came back home, went to Austin for DjangoCon US, started my month-long Kickstarter campaign, finished it, worked incessantly on finishing the book and getting it to the printer on time, then went to Costa Rica, then Philadelphia for ELA Conf, then home for week, then Seattle, then Vancouver, and now I am in Toronto.

American Airlines just alerted me I made status though with all the flying I've done this year, though. Woohoo?

I also started using Squarespace last year (this website and Hello Web App's), and while at first I was excited to have a WYSIWYG platform, it is now driving me _nutty_ so I am completely redesigning the Hello Web App website and I cannot bear to do any more promotion for Hello Web App until it's done. Silly, yes, but blergh.

I hesitate with writing blog posts like these that are just long-winded whining, especially when I am so gosh darn _lucky_ that I can do all of the above.

This post is me officially raising the white flag and calling defeat. I'll go back to being a good self-promoter and marketer in 2016.

♥
{% endfilter %}
{% endblock body %}
