featuredimage: /images/blog/2015/12/7/1.jpg
featured: True
date: 2015-03-12
author: Tracy Osborn
title: Creative Storytelling: The Most Dangerous Thing I've Ever Done
category: personal

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

![](http://static1.squarespace.com/static/543c1b40e4b0f23a04303889/543f4799e4b033d6ec5036ed/5501fd56e4b0d50640257e17/1426193774614//img.jpg)
  



I wrote about my experience hiking the John Muir Trail solo last summer (200+ miles) and getting myself into the most dangerous situation I've ever been in.

[Read about it on Medium. ](https://medium.com/@limedaring/the-most-dangerous-thing-ive-ever-done-b121771105dd)
{% endfilter %}
{% endblock body %}
