author: Tracy Osborn
excerpt:
featuredimage:
date: 2016-04-04-ive-joined-the-dreamfactory-team.markdown
title: I've joined the DreamFactory team!
category: personal

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

I’m so pleased to announce that I’ve taken a developer relations role at [DreamFactory](https://dreamfactory.com)! 

DreamFactory is a free open source REST API Platform for mobile, web, and IoT applications, and I will be working in a DevRel role supporting developer adoption. I’m especially excited since this role supports the [crazy amount of public speaking](http://www.limedaring.com/speaking) I’ve been doing, not to mention I can directly apply all the experience I’ve gained from working on writing [Hello Web App](http://hellowebapp.com) and running workshops to working on DreamFactory tutorials and workshops. Simply speaking, it’s a “dream” job (ha).

I’m super excited about being a part of the DreamFactory team. If you’re interested in adding an API to your application with DreamFactory, check out their [features](https://www.dreamfactory.com/features) and [resources](https://www.dreamfactory.com/resources) here, and hopefully I’ll be speaking at an event near you soon!

{% endfilter %}
{% endblock body %} 
