date: 2014-11-22
featuredimage:
featured:
author: Tracy Osborn
excerpt: I'm definitely an introvert. I'll often choose to stay snuggled up on the couch with my laptop over attending parties or networking events. But I know (and you probably do too) that making connections and networking is one of the most valuable things you can do for your startup.
title: Attending events as an introvert: Make one meaningful connection
category: entrepreneurship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

I'm definitely an introvert. I'll often choose to stay snuggled up on the couch with my laptop over attending parties or networking events. But I know (and you probably do too) that **making connections and networking is one of the most valuable things you can do for your startup.**

A lot of deals happen due to connections. I used to go to a lot of events a few years back and they paid off for my startup, [WeddingLovely](http://weddinglovely.com). **My admittance to the [Designer Fund](http://designerfund.com) and [500 Startups](http://500.co) were helped in large part due to networking.** I'd be willing to  bet I got a YC interview back in the day mostly due to my networking done around that time. A potential acquisition (which was turned down) as well.

**As my startup took off, it was easier to justify staying home and work rather than attend events.** As a mostly-bootstrapped founder who is the only developer, I'd often rationalize with myself that working was a better use of my time. Really though, it really was my inner introvert that wanted to stay home. Events exhaust me. I'm naturally shy and get anxious at new events, especially ones where I don't know anyone. Gross fact — I sweat when nervous, and I'm usually feeling disgusting after attending an event. (Phone calls too, which is why I avoid phone meetings like the plague.) I have many "reasons" to justify staying home.

I'm reminding myself:** Events, networking, connections, meeting people, and being social is one of the best things you can do for your startup. **I'm only realizing now what opportunities I might have missed by staying home and avoiding events for the last year or so. Being out of practice, I have even more anxiety with events now that I'm trying to be social again.

I've discovered one thing that's helped me recently. **I've made a pact with myself that I'll attend events to make ****_one new meaningful connection_ at each. **I can leave if I'm uncomfortable as long as there was one person I was glad to have met. It also forces me to get out and socialize with new folks if I go with a group of people I already know.

**If I've met just one new really neat person, then attending that event was success.** I could stay longer and meet more, but just achieving that goal makes going to events and networking a lot easier to swallow.

Of course moderation is key — a little bit of networking is miles ahead of no networking at all, but but a ton of networking is only slightly better than some. And it _could_ hurt your productivity. Just make sure you're doing a little bit.

Hopefully this helps other introverted startup founders!
{% endfilter %}
{% endblock body %}
