author: Tracy Osborn
featuredimage:
featured: True
date: 2010-01-16
excerpt: Cards from Moo.com are a great place to start to get nicely printed cards on thick, professional stock. You can order them with your information printed, but blank cards are a great jumping off point to create interesting and handmade cards that make a better impression</p>
title: Building beautiful business cards
external:
category: instruction, design

{% extends "post.html" %}
{% block body %}

<figure>
    <img src="/static/images/blog/businesscard.png" alt="" />
</figure>

{% filter markdown %}
### Five ways to make your first impression stand out.

[Cards from Moo.com](http://moo.com/) are a great place to start to get nicely printed cards on thick, professional stock. You can order them with your information printed, but blank cards are a great jumping off point to create interesting and handmade cards that make a better impression.

## Decorate the edges

Moo cards don't come with corner rounding, but it's easy to add rounded corners using a [rounded corner scrapbooking punch](http://www.amazon.com/gp/product/B000GAOJ2Y?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000GAOJ2Y).

Alternatively add some interest to the edges by using scrapbooking edging scissors, which range from [traditional deckle edge](http://www.amazon.com/gp/product/B001OYZZPQ?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B001OYZZPQ) to [more crazy examples](http://www.amazon.com/gp/product/B0007SN0J8?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B0007SN0J8).

  * [Corner Rounder](http://www.amazon.com/gp/product/B000WWIPEE?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000WWIPEE)

## Create a stamp

You can also order your business cards completely blank and use a custom stamp to stamp your information on your card. A lot more visually interesting than traditional printing, stamping will create irregularities between each stamped business card so each are unique.

  * [Monogrammed Design Self Inking Stamps](http://www.amazon.com/gp/product/B002Q1T174?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B002Q1T174)
  * [Custom Design Self Inking Stamp](http://orders.rubberstamps.net/ProductInfo.aspx?productid=TRODAT-5211)

## Handwriting

Personally, I love seeing someone's actual handwriting. Especially on an item as personal as the business card, having something in your handwriting (whether it is your signature, printing your name, etc) shows that you spent time on your cards to make them unique and interesting.

An obvious caveat is if your handwriting is particularly bad, then I would recommend using your handwriting only for your signature. But handwritten elements combined with a classy and professional business card can really create an impact.

  * [Pilot Hi-Tec-C](http://www.jetpens.com/hi-tec-c.php) - My favorite pens
  * [Great example of a handwritten card](http://1.bp.blogspot.com/_nieIGWiCsnw/SpveaEJf8wI/AAAAAAAAFLI/U3mNkpq3Mtg/s800/kaffe-03.jpg)
  * [My former business cards with my handwritten name](http://www.flickr.com/photos/vadavia/2411218323/in/set-72157622700222499/).

## Use fun cutouts

[Die cutting](http://en.wikipedia.org/wiki/Die_cutting_%28shearing%29) your card professionally can cost a lot, but can be easily replicated using the appropriate scrapbooking punches. Hundreds of punches exist, and with a little effort, you can create a cheap "die cut" card.

Additionally, you have have a [punch created with your logo](http://www.machineadvantage.com/Punches_1011_1124_0.html) without the cost of professional die-cutting.

  * [Multi-pack Punch Set](http://www.amazon.com/gp/product/B000S169AG?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000S169AG)

## Create a wrap

I love adding texture to a traditional flat card, and an easy way to create this is adding an additional paper wrap around the card. Have your information printed on the second piece of paper, cut to size (using an [X-ACTO knife](http://www.amazon.com/gp/product/B000140IE8?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000140IE8) and a ruler, not scissors, for greater accuracy), sprayed with adhesive (such as [spray mount](http://www.amazon.com/gp/product/B000A88LI0?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000A88LI0)), and mount on your blank business card.

  * [My own business cards with wraps](http://www.flickr.com/photos/vadavia/3348895753/)

My [personal business cards](http://www.flickr.com/photos/vadavia/3348895753/) are the half size Moo cards, printed with a random image, with a paper wrap, decorative edge, and a handwritten signature. It's not something that could have been professionally ordered cheaply, and leaves a great impression.

Have interesting and business cards? Send them to me and I'll add them to the post.

<blockquote>You should follow me on twitter [here](http://twitter.com/limedaring).</blockquote>
{% endfilter %}
{% endblock body %}
