date: 2016-10-20
featuredimage:
featured: True
author: Tracy Osborn
excerpt: 
title: Two companies that I appreciate
category: personal

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

I've stopped going on Twitter so much lately because I've been having a hard time with all the negativity that Twitter seems to contain. I'm not immune to it myself — I take to complaining on Twitter more than I spend appreciating.

Two recent experiences with two companies lately made me realize that I often forget something more important — **that I should write about my positive experiences**. It's so easy to complain about the negative but harder to realize and appreciate something positive.

Two quick stories:

## [Allbirds](http://allbirds.com)

{% endfilter %}

<figure>
    <a href="http://allbirds.com"><img src="/static/images/blog/allbirds.jpg" alt="" /></a>
</figure>

{% filter markdown %}

**This is both a story of a fantastic product as well as a fantastic customer experience.** I don't remember now where I heard about [Allbirds](http://allbirds.com), but apparently they've been featured in such places like [TechCrunch](https://techcrunch.com/2016/09/07/allbirds-raises-7-25-million-unveils-new-shoe-colors/). Hey, it's Silicon Valley, why not a startup for shoes?

I wanted to make sure I liked them before ordering, especially since they don't ship to Canada, so I only had a brief period when I was in California when I could try them out. [Allbirds had a popup in San Francisco](https://www.facebook.com/weareallbirds/), so my husband and I popped up one day while we were both in the Bay Area.

Let me tell you friends — **these shoes are indeed magical**. They're like slippers, made of soft wool, but look like sneakers. I particularly hate enclosed shoes (growing up in California means I'm a big fan of the flip flop) but these shoes were the first that made me really look forward to wearing toe-enclosing shoes.

Story doesn't end there though. Three days later, I was in San Francisco and was walking in SOMA when I discovered my sidewalk was partially obstructed by a truck, leaving me a small strip of sidewalk to walk on next to a chain link fence. Unfortunately (of course) the chain link had a piece of wire sticking out, snagging the soft and delicate outer sole of my shoe. 
{% endfilter %}

<figure>
    <img src="/static/images/blog/shoe.jpg" alt="" />
</figure>

{% filter markdown %}
I felt like a complete idiot. Obviously this was entirely my fault for not being careful, and I lamented about my poor shoes on Twitter (see, I told you I was too negative on Twitter.) And, completely unexpectedly, Allbirds reached out:
{% endfilter %}

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/limedaring">@limedaring</a> Oh no! Shoot me a note at lucy@allbirds.com - we have some good chain link fence insurance!</p>&mdash; Allbirds (@Allbirds) <a href="https://twitter.com/Allbirds/status/783004112577265664">October 3, 2016</a></blockquote>

<p>And ended up sending me a complete new pair of shoes for free.</p>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I murdered my awesome <a href="https://twitter.com/Allbirds">@Allbirds</a> by running into a chain link fence and they&#39;re sending me a new pair. ❤️❤️❤️ <a href="https://t.co/VGZLqEHPq1">pic.twitter.com/VGZLqEHPq1</a></p>&mdash; Tracy Osborn (@limedaring) <a href="https://twitter.com/limedaring/status/783472375736041473">October 5, 2016</a></blockquote>

{% filter markdown %}
I certainly wasn't looking for a new pair of shoes when I tweeted — I simply just wanted to showcase what an idiot I was for ruining my super amazing new pair of shoes. I'm so pleased and thankful for how far Allbirds went above and beyond.

**And seriously friends, these are one of the best pairs of shoes I've ever owned. I would be absolutely recommending these even without the replacement shoes that I was given.**

## [Shift](http://shift.com)

{% endfilter %}

<figure>
    <a href="http://shift.com"><img src="/static/images/blog/shift.jpg" alt="" /></a>
</figure>

{% filter markdown %}


I recently began the process of moving from California to Canada — Toronto to be exact. For the first time in my life after learning how to drive, I'm going to be carless. Meaning that my trusty Prius would have to be sold.

I fretted for a bit about dealerships and worried a lot about how little money and how much pain that the process of selling my car would be. Thankfully, being in California, I have access to quite a few upcoming startups working on improving terrible processes and sure enough, there exists a startup around selling your used car.

**Enter [Shift](http://shift.com). Shift will pick up your car from you, detail and repair any defects, and sell on your behalf.** Shift's incentives also align with your own — There is a guaranteed minimum to any car sale that goes to you, and then you split anything above that guaranteed minimum with Shift, meaning Shift is incentivized to sell the car for the maximum possible which would also maximize your own payment.

The above was enough to make me super pleased to work with Shift, but they went above and beyond what I expected.

I set up my car to be picked up by Shift from my home at 6pm on a Friday, planning to depart from San Jose back to Toronto the next morning at 8am. That day, I also set up a shipment for a very large and heavy piece of furniture via FedEx to ship to my new home in Toronto. Of course, FedEx gave me an estimated pickup time of "8am to 6pm," (how convenient) so I made sure I was home the entire day, waiting fretfully for truck to arrive to pick up the 120lb package.

Of course... come 6pm, the truck had not arrived. I called FexEx who said, "Oh, the truck came by at 4pm and the package was not ready yet, and is already back at the warehouse. We could pick it up tomorrow though?"
{% endfilter %}

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">. <a href="https://twitter.com/FedEx">@FedEx</a> Package not ready? It&#39;s been here since 8am. <a href="https://t.co/IwLh94Hi0y">pic.twitter.com/IwLh94Hi0y</a></p>&mdash; Tracy Osborn (@limedaring) <a href="https://twitter.com/limedaring/status/784560733501677568">October 8, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{% filter markdown %}
Assholes. I was home all day and no truck came by. The package was on the front stoop, label already afixed. Liars and assholes.

**So, I had a very large, heavy package on my front stoop that I couldn't move myself. I had to be at the airport at 6am the next morning. My car was being picked up at any moment, and I had no one I could call to help me move the package.**

The Shift driver (Calvin) showed up right on time, finding me on my stoop with me head in hands, fretting and sniffling about my situation. I fully expected the driver to just grab my car and run off, since, you know, that was the arrangement.

However, after I explained my predictament, Calvin did something I completely didn't expect — **he offered to help me load the furniture into my car, we'd drive to FedEx together, then he'd help me upload, and then he'd take my car away.**

Seriously you guys — Calvin saved my bacon. We hit a lot of traffic and road closures on the way to the FedEx office, and I know I kept him way longer than his day was supposed to be, but we got to the FedEx office in Los Gatos, he helped me unload that giant 120lb box, we processed the paperwork, and with a smile (and declining any offer of a tip), he drove away with my Prius.

I had just spent three weeks cleaning out a family home with no small level of stress and FedEx leaving me hanging was the final straw towards pushing me into a complete breakdown. **I am so grateful that Calvin from Shift took time out of his day to make sure I was alright. I'm seriously so grateful. It seems like a small, easy thing now, but believe me, day-of, Calvin was my hero.**

([Oh, and you can see (and maybe buy!) my car on Shift here!](https://shift.com/car/c14816))

{% endfilter %}
{% endblock body %}
