date: 2017-11-12
featuredimage:
featured: False
author: Tracy Osborn
excerpt: I’ve suffered a lot more anxiety during the last few conferences I’ve attended. The conference prep and talks aren’t as fun, and I haven’t been as confident. I’ve found myself questioning why I am at these conferences and whether it’s worth it to have travel funds funneled to me rather than someone else. I’ve also started worrying whether my speaking skills are truly up to par.
title: Conference speaking burnout — or leveling up
external:
category: personal

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

In 2017, looks like I will have spoken at 15 different conferences, five of those being keynotes. Similarly, I spoke at 17 conferences in 2016.

I really love speaking at and being at conferences. I love teaching what I know and seeing the immediate, in-person effect on attendees. I love hearing people telling me that they’ve enjoyed what I’ve presented and that it helped them. 

I’ve also been able to use speaking at conferences as a way to travel the world. In the last year, I’ve traveled to Argentina, Hungary, Puerto Rico, and Italy — twice.  In the last month alone, I’ve been to Spain, Ireland, and Chicago for various conferences, capping off the month with a personal trip to Iceland.

That said, I’ve suffered a lot more anxiety during the last few conferences I’ve attended. The conference prep and talks aren’t as fun, and I haven’t been as confident. I’ve found myself questioning why I am at these conferences and whether it’s worth it to have travel funds funneled to me rather than someone else. I’ve also started worrying whether my speaking skills are truly up to par.

(I warn you that there really isn’t a good point to this post. No takeaways or lessons. Just some thoughts that have been rattling around my head.)

My personal projects have also suffered from being on the road so much. I think a little bit of why I’m writing this is because I’m disappointed in the launch of [Hello Web Books](https://hellowebbooks.com/learn-design). It did well enough but I could have done more — if I wasn’t so tired all the time from the four countries I visited this month.

Not to mention my health, and my complete inability to *not* eat the free food on planes, in lounges, and at conference meals. I apparently can turn down cookies only if I have to pay for them.

Sigh.

I’m going to try to take these thoughts and spin them into something positive and pro-active for myself:

* I’m going to stop applying to conferences, at least for the time being. For a while, I was submitting to CFPs every day, and I definitely overdid it.
* (I’m still reserving the right to speak at conferences who invite me, though I definitely won’t accept everything.)
* Going to spend at least a month at home and try to get back into healthy eating and movement.
* …I’m also going to look at my frustration with my current talks as a sign I’ve “leveled up” in speaking. I really want to become a world-class speaker and I think I know now how I want to improve. Not seeing these improvements immediately has been frustrating me. But I can see the next level, which I’m going to take as reaching the previous level.

Last but not least, I want to blog more — hello there.

I’ve had a lucky year filled with travels and keynotes and talks and excitement. Hopefully next year will be just as good — and hopefully a little less exhausting.

{% endfilter %}
{% endblock body %}
