featuredimage: /images/blog/2015/12/7/1.jpg
featured: True
excerpt: I wrote about my experience hiking the John Muir Trail solo last summer (200+ miles) and getting myself into the most dangerous situation I've ever been in.
date: 2015-03-12
author: Tracy Osborn
title: Creative storytelling: The most dangerous thing I've ever done
external:
category: personal

{% extends "post.html" %}
{% block body %}

<figure>
    <img src="/static/images/blog/whitney.jpeg" alt=""/>
</figure>

{% filter markdown %}
I wrote about my experience hiking the John Muir Trail solo last summer (200+ miles) and getting myself into the most dangerous situation I've ever been in.

[Read about it on Medium. ](https://medium.com/@limedaring/the-most-dangerous-thing-ive-ever-done-b121771105dd)
{% endfilter %}
{% endblock body %}
