author: Tracy Osborn
excerpt: Awhile back I posted on twitter a rather enigmatic message. Well, it didn't take me too long to see the light and jump back into the arms and the opinions of the design community.
title: crowdSPRING
category: personal, design
featured:
featuredimage: 
external:
date: 2008-10-10

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

Awhile back I posted on twitter a [rather enigmatic message](http://twitter.com/vadavia/statuses/941269898). Well, it didn't take me too long to see the light and jump back into the arms and the opinions of the design community.

### crowdSPRING, the spec-work community

I heard about [crowdSPRING](http://www.crowdspring.com/) through a [post](http://www.37signals.com/svn/posts/1253-the-nospec-campaign-vs-crowdspring) on [37signals'](http://www.37signals.com/) [Signal vs. Noise](http://www.37signals.com/svn/) blog. And while I have been aware of the [NO!SPEC](http://www.no-spec.com/) campaign for awhile, I was intrigued by what crowdSPRING offered. Basically, I was weak: I'm kind of poor right now, aching for fulfilling (and paying) projects, and the prospect of creating just a .psd of a website in exchange for $600-$1400 was very intriguing.

I told myself that I was to spend no more than an hour on a comp, submit it, and let it go if it didn't do well. I knew I would be wasting my time if I devoted any time to winning these contests but figured if $700 was on the line, I could spare an hour in the evening. I would also get more experience at creating comps-on-the-fly; a dangerous problem I have is being way-too-picky and taking way-too-long on a project just to get a comp up.

### Clients as Art Directors

Well... I didn't take into account that if my initial comp went well (usually, since my design skillz are at or above the average crowdSPRING designer), I would then spend time creating additional and additional comp for every whim of the client. Never mind that some of their suggestions would harm the flow of the website or made no sense regarding their users -- it was what THEY wanted WHEN they wanted and if you don't do it, someone else will and you'd lose the "contest".

Screw. That.

Seriously. I did not spend time learning about information architecture and user behavior patterns and general good design to give up my right to say, "No, that isn't right, and here's why." I would attempt to explain on the comments why I did not do exactly what they wanted me to do and why, but I would get steamrolled by the next designer putting a skin on their ideas.

I consider it lesson learned; fast money will never be easy money. I could "bend over" and do what these clients wanted and hope that maybe they'll pick my design, but now it seems like a really bad gamble on my time. Design community: you were right, and I'll not touch spec-work again!
{% endfilter markdown %}
{% endblock body %}
