date: 2017-02-13
featuredimage:
featured: True
author: Tracy Osborn
excerpt: Part 1 of this article series focused on the visual (since that’s usually what folks are looking for help with when it comes to design), but it’s important to remember that usability trumps beauty. The most gorgeous website in the world is useless if folks using that website can’t achieve what they want to do.
title: Design for non-designers (part 2)
external: https://blog.prototypr.io/design-for-non-designers-part-2-74d7ab3124f6
category: design, instruction

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
