date: 2016-08-26
featuredimage:
featured: True
author: Tracy Osborn
excerpt: If you’re working on the web, at some point you’re going to need to write — even if you’re a designer, a developer, a programmer, a not-writer. For example, almost everyone needs to write technical documentation (such as your README, your internal docs, your external docs and help manuals) but you might also need to write the introductory copy on your app’s homepage, your “about” page content, or a blog post. We can’t escape the act of writing.
title: Five tips for improving your technical writing and documentation.
external: https://medium.com/@limedaring/design-for-non-designers-part-1-6559ed93ff91
category: development, instruction

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
