date: 2016-09-08
featuredimage:
featured: True
author: Tracy Osborn
excerpt: I run a startup, I am very involved in the programming world, and I attend a lot of conferences throughout the year. Often at events, dinners, or meetups I notice that I am literally the only woman in the room. I’m embracing it. If I allow myself to feel uncomfortable and leave, then there would be absolutely no women in the room.
title: When I’m the only woman at an event.
external: https://medium.com/@limedaring/when-im-the-only-woman-at-an-event-577567b59c57
category: womenintech

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
