date: 2015-02-12
featuredimage:
featured: True
author: Tracy Osborn
excerpt: I lay ramrod straight as hail pelted the thin fabric of my ultralight tent, then jumped as a lightning bolt struck somewhere nearby. I didn’t know whether or not I was safe. As I was surrounded by metal poles, in the middle of a clearing before the summit of the tallest mountain in the continental United States, I was pretty convinced I was not.
title: The most dangerous thing I’ve ever done.
external: https://medium.com/@limedaring/the-most-dangerous-thing-ive-ever-done-b121771105dd
category: outdoors 

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
