date: 2015-03-15
featuredimage:
featured: True
author: Tracy Osborn
excerpt: I recently released Hello Web App, my book teaching web app development with Python and Django aimed at designers and non-programmers. The year-long journey kicked off with a Kickstarter campaign in April 2014. The campaign went super successfully (as you can see!) and now seems like a great time to review what went well and what I regret. 
title: Hello Web App's Kickstarter campaign: How I did it, what I regret.
external: https://hellowebapp.com/news/reviewing-hello-web-apps-kickstarter-campaign/
category: authorship, entrepreneurship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
