date: 2017-04-17
featuredimage:
featured: True
author: Tracy Osborn
excerpt: In 2016, I spoke at 17 conferences across the US, Canada, and Europe. It was the first year I’ve had any sort of success with conference proposals — a combination of a few language-agnostic talks that I could submit to a wide variety of conferences and suddenly getting a bit of recognition.
title: On conference proposal rejections
external: https://code.likeagirl.io/on-conference-proposal-rejections-205f7fead68
category: speaking

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
