date: 2016-06-10
featuredimage:
featured: True
author: Tracy Osborn
excerpt: In this walkthrough, we're going to build something relatively easy: a simple contact form where your users can enter their name, email address, and message, and your website will email you the message (with the user's email as the reply-to.)
title: How to set up a contact form with Django
external: https://hellowebapp.com/news/tutorial-setting-up-a-contact-form-with-django/
category: development

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
