date: 2016-03-28
featuredimage:
featured: True
author: Tracy Osborn
excerpt: In the original Hello Web App book, I walk you through the process of setting up your registration and login pages so user's can join and log into your new app. We also set up the password reset views on the login form, so if a user doesn't remember their login information, they can get a reset link emailed to them.
title: Setting up Django's password change functionality
external: https://hellowebapp.com/news/tutorial-password-change-views/
category: development, instruction

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
