date: 2018-03-12
featuredimage:
featured: True
author: Tracy Osborn
excerpt: I’ve been working on my wedding vendor marketplace and wedding planning app for eight years. Now I’m looking for a new owner to help it grow.
title: Why I’m selling WeddingLovely, my eight year old company (with $62,000 revenue in 2017)
external: https://medium.com/@limedaring/why-im-selling-weddinglovely-my-eight-year-old-company-with-62-000-revenue-in-2017-69fb56c8929f
category: entrepreneurship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
