date: 2015-07-07
featuredimage:
featured: True
author: Tracy Osborn
excerpt: On May 4th, my book Hello Web App was released. Since then, hundreds of people used it to learn how to build web apps using Python and Django. Today I share a breakdown of all my sales numbers across all the platforms I used, and some of the lessons I learned:
title: I self-published a learn-to-code book and made nearly $5,000 in pre-orders
external: https://hellowebapp.com/news/how-i-launched-my-learn-to-code-book-and-made-nearly-5000-in-pre-orders/
category: entrepreneurship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
