date: 2018-01-23
featuredimage:
featured: True
author: Tracy Osborn
excerpt: Since I’ve moved to Toronto, Canada, I’ve had to set up a completely new fulfillment system, so now that blog post is completely out of date. My current solution still has some kinks but lately I’ve had a few big “ah ha” moments (and a few shipping disasters, costing me $$$) that I thought it was time to give an update.
title: Shipping and fulfillment for my self-published books (Update since I’ve moved to Canada)
external: https://hellowebbooks.com/news/fulfillment-updates/
category: authorship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
