date: 2016-08-06
featuredimage:
featured: True
author: Tracy Osborn
excerpt: I love Stripe (the customer payment solution I advocate using in Hello Web App: Intermediate Concepts), but I wish the Stripe's dashboard came with a bit more information about the state of your project and revenue.
title: Calculating your Stripe monthly recurring revenue (MRR)
external: https://hellowebapp.com/news/calculating-mrr-with-stripe/
category: development

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
