date: 2017-03-07
featuredimage:
featured: True
author: Tracy Osborn
excerpt: Part 1 of this design series dealt with the visual design, and Part 2 delved into user experience, content, and testing. Here, we’re going to jump into a bit about theory and reassurances that will help you become a better designer.
title: Design for non-designers (part 3)
external: https://blog.prototypr.io/design-for-non-designers-part-3-49686371f92b
category: design, instruction

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
