date: 2016-05-14
featuredimage:
featured: True
author: Tracy Osborn
excerpt: About a year ago, I ran a Kickstarter for Hello Web App — and now that the book has officially launched, I thought it would be useful to run down how much money the Kickstarter raised and where it went! Note: There will be another post after this one covering setting up the campaign and the regrets I have about the rewards and other details, but the economics of a project is such a long topic already that I wanted to devote an entire post to it.
title: Economics of self-publishing a book via Kickstarter: Hello Web App's story
external: https://hellowebapp.com/news/economics-of-self-publishing-on-kickstarter/
category: authorship, entrepreneurship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
