date: 2017-01-23
featuredimage:
featured: True
author: Tracy Osborn
excerpt: Even if you’re not a designer, I’d bet that at some point in your career you’ll need to do something visual, whether it’s making a landing page for your project, designing a form, creating your personal website, or making slides. This article is based on my Design for Non-Designers conference talk I’ve given at multiple conferences worldwide throughout 2016, and is the subject of my upcoming Hello Web Design book (sign up for updates here.)
title: Design for non-designers (part 1)
external: https://medium.com/@limedaring/design-for-non-designers-part-1-6559ed93ff91
category: design

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
