date: 2018-01-29
featuredimage:
featured: True
author: Tracy Osborn
excerpt: On January 19th (after fretting for at least two weeks), I finally launched Hello Web Design_ on Product Hunt (You know, my book/video course teaching design for non-designers. The post did way better than I hoped, becoming the #5 product of the day. Here’s my recap of the process and what I learned from this go-around.
title: Hello Web Design’s Product Hunt launch recap
external: https://hellowebbooks.com/news/product-hunt-recap/
category: authorship 

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
