date: 2019-03-20
featuredimage:
featured: True
author: Tracy Osborn
excerpt: A month ago, an error with my business's email address caused it to bounce. Even after I discovered and fixed the issue, this led to a still-unknown amount of emails to silently be suppressed while I carried on unaware. Email suppressions should be something everyone should be aware about but I've found over the last few weeks that no service provider was aware their mail API services (e.g., Mailgun, Sendgrid, and others) would suppress bounced emails.
title: Does your inbox feel too quiet? The hidden consequences for temporarily breaking your email.
external: https://hellowebbooks.com/news/does-your-inbox-feel-too-quiet-hidden-consequences-temporarily-breaking-your-email
category: development

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
