date: 2017-04-24
featuredimage:
featured: True
author: Tracy Osborn
excerpt: My Kickstarter campaign for my third book, Hello Web Design, wrapped up about a month ago, raising $22,362. Not bad! This is my third Kickstarter (previously: Hello Web App, Hello Web App: Intermediate Concepts) and over the last few years, I’ve learned a lot about running Kickstarter campaigns that apply to any Kickstarter campaign, not just books.
title: Overview and lessons learned from running my third Kickstarter campaign
external: https://medium.com/hackerpreneur-magazine/overview-and-lessons-learned-from-running-my-third-kickstarter-campaign-ce4aec9af271
category: entrepreneurship, authorship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
