date: 2019-03-26
featuredimage:
featured: True
author: Tracy Osborn
excerpt: Over the last few months, I've been slowly increasing the capabilities of this website with the ultimate goal of replacing several external services I was depending on. I'm excited to say that work has finally finished! HelloWebBooks.com now has a full educational site back-end. You can order my book packages, which will prompt signing up for an account, and on this account you can access your downloadable files, and (new) the full book content online, split up by chapter. This will include embedded videos, if your package includes them.
title: The new Hello Web Books website has launched!
external: https://hellowebbooks.com/news/new-hello-web-books-website-backend-has-launched
category: development, authorship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

{% endfilter %}
{% endblock body %}
