author: Tracy Osborn
date: 2010-02-06
featuredimage:
featured:
excerpt: This last New Years, Andrey and I decided to try out an experiment and switched to 28 hour days: 19 hours awake, 9 hours of sleep (as inspired by xkcd). It turned out more difficult and more interesting than I would have anticipated, and wanted to do a quick write-up for anyone else who was willing to try it out.
title: Hacking your week: The 28 hour day
external:
category: instruction 

{% extends "post.html" %}
{% block body %}

<figure>
    <img src="/static/images/blog/28hour.png" alt="" />
</figure>

{% filter markdown %}
This last New Years, [Andrey](http://twitter.com/shazow) and I decided to try out an experiment and switched to 28 hour days: 19 hours awake, 9 hours of sleep. It turned out more difficult and more interesting than I would have anticipated, and wanted to do a quick write-up for anyone else who was willing to try it out. Andrey also [wrote an introductory post at his blog](http://shazow.posterous.com/28-hour-sleep-schedule-right-through-new-year).

### Tips:

Most obvious: Make sure you have an **entire free week** to devote to this project. I would not recommend this if you have a 9-5 day job, since during half the week you'll be sleeping.

**Go for the 19/9 approach**, instead of the 20/8. Having an extra four hours a day can actually be extremely tiring, and 9 hours of sleep will help you recuperate a little bit better.

Make sure that you **go to bed and get up at your scheduled times**, regardless on how sleepy or awake you feel.

**Plan it on a week that takes advantage of the days you'll be awake at night.** Andrey and I managed to make New Years Eve the day we wake at 8pm, so we were able to run around San Francisco all night feeling rested, grab "dinner" at 8am right when my favorite breakfast spot opened, and then crashed at 1pm.

Lack of sleep/odd hours can make you cranky, and it's really odd to be cranky after waking up and it's 8pm. **Make sure your "mornings" are restful and not stressy.**

You might or might not be able to get by without naps. Yeah, an extra 4 hours of wakefulness might not seem like much, but halfway through the week it was really hard to stay awake (and the last thing you want to do is go to bed early). **Don't be afraid of a random 30 minute nap midway through the day.**

**Do it with someone** — a significant other or a friend. It's more fun to be running around at night with someone and sharing your experiences.

That said, if you have a week you need a lot of quiet time to get stuff done, **sometimes working during the night can be very productive**. Andrey did this on [his first time](http://shazow.net/blog/2009/02/02/circadian-somersault/).

One week of 28 hour days is a really great way to shake up your routine and try something new. I'd highly recommend it if you have the time.
{% endfilter %}
{% endblock body %}
