date: 2015-07-09
featuredimage:
featured:
author: tracy@limedaring.com
comments: true
excerpt: A month ago, I released my first book, Hello Web App, an introduction to web app development for non programmers. I've been writing on the HWA blog about the process of writing and releasing the book.
title: Writing about Hello Web App, my beginner web development book
external:
category: authorship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

A month ago, I released my first book, [Hello Web App](http://hellowebapp.com), an introduction to web app development for non programmers. I've been writing on the HWA blog about the process of writing and releasing the book:

### Results from the pre-order campaign and launch day 

[I self-published a learn-to-code book and made nearly $5,000 in pre-orders](https://hellowebapp.com/news/how-i-launched-my-learn-to-code-book-and-made-nearly-5000-in-pre-orders)

### The Hello Web App Kickstarter campaign:

[Hello Web App's Kickstarter campaign: How I did it, what I regret.](https://hellowebapp.com/news/reviewing-hello-web-apps-kickstarter-campaign)

[Economics of self-publishing a book via Kickstarter: Hello Web App's story](https://hellowebapp.com/news/economics-of-self-publishing-on-kickstarter)

### Designing and fulfilling Hello Web App

[Designing and printing Hello Web App's PDF and paperback editions](https://hellowebapp.com/news/all-about-hello-web-apps-paperback-book-fulfillment)

### Additional tutorials

[Tutorial: How To Set Up a Contact Form With Django](https://hellowebapp.com/news/tutorial-setting-up-a-contact-form-with-django)

Do you like building websites, but don't know anything about back-end development? Do you want to build a website to bring in some revenue (like the site I built, [WeddingLovely](http://weddinglovely.com))? Hello Web App is an easy tutorial to walk beginners through the process of building their first web app using Python and Django.

[Learn More about Hello Web App here](http://hellowebapp.com)

{% endfilter %}
{% endblock body %}
