date: 2019-02-13
featuredimage:
featured: True
excerpt: I'm working on the baby beginnings of several new projects and wanted a better place to do small, quick updates on progress (Twitter is a bit too ephemeral/noisy, I don't want to spam this email list, blogging feels too overwhelming.) Not to mention it would be helpful to even out my personal revenue inbetween product launches, and support more free / community projects (like my Learn Command Line zine.)
author: Tracy Osborn
title: Support me via Patreon!
external:
category: personal, authorship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

I now have a Patreon account! 

[https://www.patreon.com/tracyosborn](https://www.patreon.com/tracyosborn)

I'm working on the baby beginnings of several new projects and wanted a better place to do small, quick updates on progress (Twitter is a bit too ephemeral/noisy, I don't want to spam this email list, blogging feels too overwhelming.)

Not to mention it would be helpful to even out my personal revenue inbetween product launches, and support more free / community projects (like my Learn Command Line zine.)

Appreciate any and all support! :cheers:

{% endfilter %}
{% endblock body %}
