featuredimage:
date: 2009-09-10
excerpt: It's hard to believe that I'm turning 25; I feel simultaneously so much older than that (combination of having to grow up fast as well as having a lot of older, and much wiser friends) as well as much much younger (I still feel like a teenager, running around, being immature and knowledgeable).
featured:
external:
author: Tracy Osborn
title: It's my birthday!
category: personal 

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

It's hard to believe that I'm turning 25; I feel simultaneously so much older than that (combination of having to grow up fast as well as having a lot of older, and much wiser friends) as well as much much younger (I still feel like a teenager, running around, being immature and knowledgeable). 

## What have I accomplished this year?

24 was a year of breaking out of my shell, trying new experiences, and really trying to live life. I actually took a step back from my career and decided to focus on things that make me really, truly happy: traveling, being outdoors, and challenging myself. I've climbed Shasta (mostly), hiked Half Dome, and run a 1/2 marathon in 3:05 while injured (raising $2,500 for leukemia and lymphoma research as well). I've become a lot more social and a lot less hermit, which has some negative effects on my time (there are not a lot of times anymore where I'm just relaxing, unless it's outdoors on a hike). 

That's not to say I haven't grown professionally. My actual work responsibilities have increased ten-fold; I'm getting experience in managing both an intern as well as being a contact between three consulting and freelance groups. I've taken my first business trip. And out of my paid work, my professional network has grown dramatically (I collect contacts like Pokemon), I've had my first article request (which had to be turned down), and I have a panel idea in limbo for SXSWi 2010.

## What do I want to accomplish for my 25th year?

* Continue pushing myself physically. I lost about 30lbs, but I still have more to go. And it's not just about looks, it's about health; I love muscles, being strong, having stamina and endurance, and more importantly, not feeling like death when I do difficult outdoor activities!

* Further push myself out of my social comfort zone. Go to random professional parties where I don't know anyone and make friends. Go to restaurants alone. Take a random flight somewhere and meet people. I'm still shy, but I want to get better at going out and meeting people.

* Increase my professional profile. Didn't I say a year ago that I needed to redo this website? Oops. Hey, look, there's that goal again. Also, meet more internet "big-wigs" and make friends; go to conferences; _speak_ at conferences and meetups, have more freelance work.

{% endfilter %}
{% endblock body %}
