featuredimage: /images/blog/2015/12/7/1.jpg
date: 2009-05-13
featured: True
author: Tracy Osborn
excerpt: Age old problem: When I am at work, and admittedly immersing myself in design blogs, top CSS sites, and other creative resources to keep the data part of my job interesting, I get inspired.  I get really inspired. Heart rate up, a bit shaky, absolutely excited. And all I want to do is take a break, whip out my laptop/sketchbook/napkin and get to work doing what I love.
title: Keeping Inspired at the Right Times
category: articles

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Age old problem: When I am at work, and admittedly immersing myself in design blogs, top CSS sites, and other creative resources to keep the data part of my job interesting, I get inspired. I get _really_ inspired. Heart rate up, a bit shaky, absolutely excited. And all I want to do is take a break, whip out my laptop/sketchbook/napkin and get to work doing what I love.

And then I go home. I simply cannot focus. Suddenly all the mundane things I have to ignore at work (cat, online comics, gossip (shush, I'm embarassed about that), Google Reader, email, Flickr, Hulu, Twitter) become all I can do - my brain shuts off and I go tab to tab, drooling a bit since my brain is practically shut down.

How do I keep the inspiration from earlier in the day?

Often I feel the solution would be to have a separate workspace devoted solely to "professional" work. Unfortunately I live in a glorified shoebox; a studio so tiny that I don't even have an oven. Better yet, I'm sure there are resources on the net where I can block these websites during my evening "work time". Or, I can head to a local coffee shop, since being at home makes me feel like I should relax more than work.

I have a lot of grand ideas for this website and the rest of the personal websites I still need to finish and wasting my evening hours simply isn't going help get these things done. I'm lucky enough that Limedaring is at a sorta reasonable state now, but nowhere near where I want to go (have you seen [Meagan Fisher's http://owltastic.com/](http://owltastic.com/)? Fabulous, and wow, I want the level of detail that she has).

While beating myself up over the lack of personal projects completed in the last few months, I do need to remind myself that my personal life has been anything but simple -- I've been training (and just completed) a trip to hike Mt. Shasta, and recently my mother has passed away. Regardless, I need to keep the level of creative inspiration that I have _now_ and get some great work done ASAP.
{% endfilter %}
{% endblock body %}
