featuredimage:
date: 2018-06-01
excerpt: I've been plagued lately with no confidence in my work. It's been very frustrating, to say the least. I'll be bumming around my house and out of nowhere, I'll think, "Ack, I haven't written a blog post in so long. Or an article. Or promoted my books. Or did marketing. Or worked on my own work in general." And immediately following that thought, I'll think, "But whatever I do, it's not going to be good enough." Anxiety sucks.
featured: False
external:
author: Tracy Osborn
title: Lately (and some thoughts on anxiety)
category: personal

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

I've been plagued lately with no confidence in my work. It's been very frustrating, to say the least.

I'll be bumming around my house and out of nowhere, I'll think, "Ack, I haven't written a blog post in so long. Or an article. Or promoted my books. Or did marketing. Or worked on my own work in general."

And immediately following that thought, I'll think, "But whatever I do, it's not going to be good enough. I did that blog post in the past, and so-and-so did something similar, and they did it so much better than me." Or, "I already launched a bunch of books, and right now they're not selling like they should, and thats my fault."

Following with, "Yeah dummy, that's because you haven't worked on anything."

And then, "But anything I am going to do is going to fail."

Anxiety sucks.

I know those negative thoughts aren't true, but man is it hard to work up the motivation to promote my work and myself when my brain seems dead-set on focusing on my failures, rather than my successes.

(My anxiety is actually why, conversely, I do public speaking. Being in a place where people come up to me and tell me that my talk resonated with them, or that they have my books and they love them tames my brain's constant negative criticism of what I do. But this year I'm doing fewer speaking engagements, and I think my anxiety, as a result, is starting to catch up with me.)

I recently took on a programming contract, which was a whole new experience that I should write a separate post on (I've only done design freelancing or front-end in the past.) And holy moly, was having consistant money rolling in awesome. I paid off my credit cards! I put money into retirement (!). However, it was also a huge anxiety trigger — I was working on unfamiliar code and very unintuitive Javascript, which meant most working mornings I was pulling my hair out thinking I was an awful programmer. The day of work would exhaust me, and then I didn't have any energy for working on my own projects, even on Mondays and Fridays, which I reserved for my own work (and usually ended up cooking and Netflixing instead, my comfort activities.) That contract just ended, so now I'm left with plenty of free time to work on my own projects, though also now I'm back to variable and unstead income.

Since I've been kicking myself for not writing and working on my own projects, I thought that I might as well journal my current feelings and thoughts, just to get them out there, just to get used to writing again.

Hi, I'm Tracy. This is what's currently going on in my brain.


{% endfilter %}
{% endblock body %}
