featuredimage: /images/blog/2015/12/7/1.jpg
date: 2016-02-10
featured: True
author: Tracy Osborn
excerpt: After six (!) years of working full-time on WeddingLovely in California, my husband and I are moving to Toronto and I'm exploring the possibilities of working on something new. I've been so lucky to work for myself for so long. I love (love love love) learning, and no better way to constantly have to educate myself like running a startup. I started this journey with only front-end development skills and, over the years, taught myself programming and learned so much about building a product and running a company.
title: Moving to Toronto + Looking for New Opportunities
category: personal

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

After six (!) years of working full-time on [WeddingLovely](http://weddinglovely.com) in California, my husband and I are moving to Toronto and I'm exploring the possibilities of working on something new.

I've been _so lucky_ to work for myself for so long. I love (love love love) learning, and no better way to constantly have to educate myself like running a startup. I started this journey with only front-end development skills and, over the years, taught myself programming and learned so much about building a product and running a company.

**Since we're moving to Toronto, I've decided it's time for me to work on a team, to learn from others and be a part of something larger again.**

Rather than sharing a stodgy resumé, here's an overview of what I'm interested in and what I'm looking for.

## My skills

**I love making products.** You can see that in both [WeddingLovely](http://weddinglovely.com) as well as my book series, [Hello Web App](http://hellowebapp.com). The entire development cycle, from determining what to work on, to developing and designing, to launching, to marketing, to analyzing the results — it's been so much fun with both of my ventures.

**My background is in design.** I have a BFA in Art and Design from Cal Poly SLO with a concentration in graphic design. Before working for myself, I worked for Remilon LLC, a startup that literally started in a garage in my college town. I was the lead designer and worked with Remilon for 4.5 years, eventually ending up with the title "Lead Design and Optimization Manager."


  
      ![](http://static1.squarespace.com/static/543c1b40e4b0f23a04303889/543f4799e4b033d6ec5036ed/56baa8e65559865203394baf/1455073518253//img.jpg)
  



**My true education came after, when I left Remilon and taught myself programming to launch [WeddingLovely](http://weddinglovely.com). **WeddingLovely is an online wedding vendor marketplace and wedding planning app. There are almost 6,000 wedding vendors partnered with WeddingLovely, a successful weddings blog (getting 75,000 views per month), and eleven separate web properties. I'm proud to say that I have built and designed everything myself.

**I went through 500 Startups with WeddingLovely ([AngelList link](https://angel.co/weddinglovely)) in Fall 2011 as a solo founder**, went through a couple acquisition talks, raising a small amount of money and eventually moved to a mostly-bootstrapped state. It largely runs itself with the help of a lot of automated processes that I've built.

[I wrote a post diving into my WeddingLovely work here.](http://www.limedaring.com/articles/case-study-weddinglovely)

_(WeddingLovely won't be shutting down — I am in the process of hiring someone to continue day-to-day maintenance and growth while I stay in a part-time advisory/development position.)_


  
      ![](http://static1.squarespace.com/static/543c1b40e4b0f23a04303889/543f4799e4b033d6ec5036ed/56baa90ab09f959bdbded12c/1455073571902/1.png)
  



**I also love to teach, which is why I wrote [Hello Web App](http://hellowebapp.com) and [Hello Web App: Intermediate Concepts](http://hellowebapp.com/intermediate-concepts)** to teach beginner web app development with Python and Designer. I've been workshops all over the world and love, so much, teaching people how to code and build web apps.

The books are self-published, self-designed, and self-marketed, sold on Amazon, Leanpub, and Gumroad. Later this year I am thinking about starting a third book, Hello Web Design, to teach basic web design.

[I wrote a post diving into my work with Hello Web App here.](http://www.limedaring.com/articles/case-study-hello-web-app)

**Along with workshops, I'm also an avid conference speaker. **I've spoken at [more conferences than I could list here](http://lanyrd.com/profile/limedaring/) and [will be speaking at O'Reilly's Fluent Conference, MicroConf, and PyCon so far this year](http://www.limedaring.com/speaking). This goes hand-in-hand with my love of teaching — I love being on stage helping folks out with what I've learned. [See my talk at ELA Conf here.](https://www.youtube.com/watch?v=oNN0EjJ6o90)

## What I'm looking for

I'm definitely moving to Toronto (which is a wonderful city and near my husband's family), so **I'm only open to Toronto-based or remote opportunities.**

**I'm very interested in developer evangelist roles**. I love going to conferences, being social, giving talks and workshops and I think this would be a great fit.

**Product roles also something that interest me very much**. Sometimes I've been called a "unicorn," since I can work the entire product cycle, from development to design. I will admit that I am a jack of all trades, master of none — my work at WeddingLovely has required me to be a generalist. I am definitely interested in deepening my knowledge in specific roles, like UX Design or front-end development, depending on the opportunity. **Hopefully my work on WeddingLovely and Hello Web App can speak best for my skills.**

* * *

I'm erring on the side of being open and honest that I am not sure what the perfect role is as I have been "out of the game" for so long. I'm looking forward to exploring a lot of different options.

  * [My "portfolio" can be seen here](/portfolio) (I'm working on updating it now)
  * [My resumé can be seen here.](https://dl.dropboxusercontent.com/u/3118244/resume.pdf)

So, friends, I need your help. **Know of any roles hiring remotely or in Toronto that I should explore?** Please email me at [tracy@limedaring.com](mailto:tracy@limedaring.com)!

It's really scary to be looking into doing something different for the first time in so long, but also, so very exciting. :)
{% endfilter %}
{% endblock body %}
