featuredimage: /images/blog/2015/12/7/1.jpg
date: 2016-01-02
featured: True
author: Tracy Osborn
excerpt: Funny how you can sit down on December 31st and feel like you did nothing the whole year... and yet it was the busiest one yet.
title: My 2015 reviewed
category: personal

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Funny how you can sit down on December 31st and feel like you did nothing the whole year... and yet it was the busiest one yet.

## Work

![](/static/images/blog/weddinglovely.jpeg)

### WeddingLovely:

[WeddingLovely](http://weddinglovely.com) continues to grow, even when I step away from actively working on it. I unfortunately lost my awesome community manager this summer and had to step back into managing the community and growth more directly. I get down on myself because it didn't turn into a super-funded-behemoth, but my vendors and engaged customers have had nothing but good things to say. **Revenues are up and page-views are up, and I continue to work on some exciting updates that'll launch in 2016.**

![](/static/images/blog/hwa-books.jpg)

### Hello Web App

**I started [Hello Web App](http://hellowebapp.com) (my book series) after getting burnt out on WeddingLovely and it's exceeded my wildest expectations. The book is selling awesomely and I'm going to jump into 2016 with a new website and increased marketing**. Honestly I got burnt out on this project too — Hello Web App: Intermediate Concepts launched in November and I didn't market it at all. No launch announcements, nothing. I fulfilled the Kickstarter orders and then let it slide. It sucks that I didn't muster up the effort for a pre-order and launch campaign, but I'll just have to do better in 2016.

![](/static/images/blog/djangocon2015.jpeg)

### Conference Speaking

I spoke at Refresh Portland, DjangoCon EU, DjangoCon US, and ELA Conf this year. It was also the year of applying to, and getting rejected from, 90% of the conferences I applied to speak at (very discouraging). 2016 though is looking much better, and I already have several conferences lined up.

## Travel

This has been the _most_ travel filled year.

![](/static/images/blog/surfing.jpeg)

**January:** Went to Cancun, Mexico for my long-delayed honeymoon with [my husband](http://shazow.net). Very much a do-nothing-sleep-on-the-beach kind of vacation. We did head into downtown Cancun as well as a excursion to Chichen Itza. Chichen Itza is _not_ recommended, complete waste of a day (in my opinion). The grounds are covered in horribly annoying vendors, the bus ride was long, and my favorite part of the day was actually the stop at a Cenote. I was the first one into the freezing waters (with the audience of the rest of the tourists) and it was magical.

**February:** Trip to Reno, Nevada for a friend's birthday. Shenanigans were had.

**April:** Trip to Ohio to visit my extended family. I grew up in California, largely apart from the majority of my mother's family. It's nice to know I can visit and be welcomed with open arms.

**May-August:** Super travels begin! I was invited to give a workshop at DjangoCon Europe and they covered the cost of flights and hotel. Andrey and I decided to make a big trip out of it, first heading to Portland to visit some friends and speak at Refresh Portland, then to NYC for meetings, then we flew to London. After a week of London, we road-tripped to Cardiff for the conference, took the train back to London for another week, then flew to Croatia.

**June:** Spent three weeks in Split + Zagreb in Croatia (the latter of which, while incredibly cheap, was the most forgettable spot in the trip).

**July:** Headed to Slovenia, which I've lusted after for years. It was exactly as I imagined. Gorgeous, clear lake perfect for swimming in, amazing hikes, gorgeous scenery. I couldn't as for more. Then to Vienna for a week (terribly, awfully hot), then to Budapest.

**August:** Budapest! A wonderful city. Cheap, great food, and great people working on Django that I got to meet up with. So much fun being in a city with new friends. The biggest downside was getting food poisoning for the first time after having a _burrito du jour_ at a fancy French cafe (whaaaat?) We stopped by NYC for another visit on the way back home for more meetings.

**September:** DjangoCon US! My _favorite_ conference of the year. Held in Austin (awesome city), I had the best time with friends new and old. I also gave another workshop which was my best one yet (and I even ran it solo.)

**October-November:** Sabbatical in Costa Rica. I spent the previous months working insane hours on workshops, my Kickstarter campaign and production/design for my second book. I went to [School of the World](http://www.schooloftheworld.org/) for three weeks, taking weekly surfing and yoga lessons, and it was _amazing. _I had internet but I didn't get much work done (mainly because I was exhausted all the time) but I learned how to surf and made amazing new life-long friends. A friend and I also visited the rainforest, rafting in and out (!!!) to a remote lodge. The last bit of the trip, I went to Playa Carmen on the Nicoya peninsula for some alone-time (and to work on my presentation for the next trip...)

**November part 2:** Ela Conf in Philadelphia! I flew back to PHL from Costa Rica and spoke about salary and negotiations to an amazing audience.

**December:** Toronto! Visiting my husband's family and seeing friends in downtown.

## Goals for 2016

### Do _something_ with WeddingLovely

WeddingLovely has kind of stayed the same for a few years now, and not for lack of trying. There are several things in the works at the moment, but nothing I really can talk publicly about at the moment. But what I've built has so much potential, and something needs to be done about that.

### Continue growing Hello Web App's empire

I've hit on something super awesome with Hello Web App, and I feel like it just needs a little push to get it someplace super magical. I'm also kicking around an idea for a third book (Hello Web Design) and have a few conference talks lined up on the subject so I can start refining the idea. First, though, I need to really work on marketing for the first two books, some place I haven't done well enough in.

### More conference speaking!

This year will hopefully, finally, be the year that my conference speaking career takes off. I really love being on stage and sharing information, and I've booked several big conferences this year (MicroConf in Las Vegas and Fluent in SF, notably).

## Thoughts

I'm turning 32 this year. Holy shit!

In terms of personal projects, this year has been a rousing success and _yet_ I still feel like I haven't gone anywhere. Is that weird? I also traveling a shit-ton this year and still feel like I'm stuck.

I think the biggest issue I have right now is money — I've been living paycheck to paycheck for years now (I can travel a lot because I rent my place out when I'm away!) I'd really like 2016 be the year where I feel like I have enough money to be comfortable and stop worrying about expenses like getting dental xrays (which I have been putting off for like, four years now, due to cost).

I'm really lucky though, that I can do all of the above, I can't forget that.

Here's to a new year!
{% endfilter %}
{% endblock body %}
