date: 2014-10-31
featuredimage:
featured:
excerpt: I had the honor of being interviewed by Django Girls, an awesome organization focused on inspiring women to fall in love with programming. 
author: Tracy Osborn
title: My Django Story — Interviewed by Django Girls
category: personal

{% extends "post.html" %}
{% block body %}

<figure>
    <img src="/static/images/blog/djangogirls.png" alt=""/>
</figure>

{% filter markdown %}
I had the honor of being interviewed by Django Girls, an awesome organization focused on inspiring women to fall in love with programming. 

[Read the full interview here.](http://blog.djangogirls.org/post/98718406548/your-django-story-meet-tracy-osborn)

{% endfilter %}
{% endblock body %}
