title: My Packing List for Women in Tech and Conference Speakers
excerpt: I travel a lot, especially now that I've joined the Developer Relations team at DreamFactory. I also try to pack as little as possible as I've found nothing more stressful than lugging a heavy bag everywhere, through airports and cobblestone roads — better to pack light and efficiently. This goes for both short professional trips and two-month-plus long pleasure trips — I've always been able to get by with a backpack and a laptop bag.
author: Tracy Osborn 
featuredimage: /images/blog/2015/12/7/1.jpg
date: 16-5-2016
category: womenintech
featured: True

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
**I travel *a lot*, especially now that I've joined the Developer Relations team at [DreamFactory](http://dreamfactory.com).** I also try to pack as little as possible as I've found nothing more stressful than lugging a heavy bag everywhere, through airports and cobblestone roads — better to pack light and efficiently. This goes for both short professional trips and two-month-plus long pleasure trips — I've always been able to get by with a backpack and a laptop bag.

When I first started traveling more, I read every "packing list" blog post I could find: lists dedicated to traveling professionally, lists dedicated to women-in-tech, lists dedicated to traveling the world, and more. I've gotten a pretty good system down and thought I'd add my voice to the mix in case my system helps out a fellow traveler (hi!)

## The bag

I currently travel with an REI Tour 31 [[CHECK]] backpack. I like that it's relatively inconspicous and professional, not screaming BACKPACKER. I still feel a little goofy when checking in at fancy hotels but whatever.

I keep thinking of upgrading to a [[BACKPACK]] with the ability to work as a backpack as well as a roller bag. Generally I love the portability of a backpack (rolling a bag through muddy snow or over cobblestones is not my idea of a good time) but there have been times where my back was hurting and I wished I could roll my bag for a bit. Regardless, this backpack is 99% everything I need for traveling, and *just* large enough.

## Clothing

I try to keep my clothing as multi-use as possible. One or two bottoms (on short trips, I often only have one pair of jeans, since they're so bulky) and I switch out my tops daily (and undergarments, of course.)

I work in the tech world, which means I don't have to be professional looking (phew) but I still like looking nicer than jeans-and-a-teeshirt. My compromise is dark-jeans-and-a-nice-shirt/blouse, sometimes with a navy blazer on top. Shirts/blouses take up less space than bottoms, generally. I don't wear dresses mainly because they tend to be bulky (and honestly, I feel a little goofy in them.)

### Shoes

It kind of sucks because they're bulky but I always have multiple pairs of shoes (way to fulfill the stereotype, Osborn.) I have a bulky pair of knee-high flat leather boots that I'll bring on any trip that might have rain because I have learned my lesson about soggy feet. I'll also always bring a pair of sneakers so I can hike/jog/workout/give my feet a break as needed. Last, I'll have a pair of sandals and a pair of flats. I could probably get by with one pair but my feet ache quickly so switching out makes my life better — and they're fairly small when they're packed. 

Full list:

* **A blazer.** Putting it over a casual blouse or shirt instantly "professional-izes" my outfit. I just got a Baubax travel blazer which is almost *too* professional looking with the cut, but it's a good multitasker.

* **Week or so worth of shirts and tops.** If I'm traveling more than a week, then I'll try to do laundry at some point.

* **Two bottoms, usually dark jeans.** Yes, I wear jeans many days in a row. 

* **Week+ of undies, two bras.**

* **Socks, maybe 3-4 pairs**, since I'm assuming I'll usually be wearing flats or sandals. (One of these will be a pair of compression socks, because I'm irrationally worried about blood clots while flying even though I shouldn't need to.)

* **Boots if I expect it to be raining**, which I'll wear on the plane.

* **Flats/sandles.** I finally gave in and bought a pair of ridiculously expensive Tieks because I was tired of mowing through cheap flats that would also murder my feet. So far, the Tieks are worth it.

* **Workout gear:** shorts, tank, sports bra. Works for indoor gyms, outdoor running, hiking, etc. I *try* to be as active as possible, esp. when I'm on business trips. 

* **Swimsuit** for hot tubs, saunas, swimming pools — I'm always sad when I forget to bring as inevitably that's when my hotel will have a nice pool.

* **Squishies**, basically soft leggings (which can double as warm pajamas if I'm cold), underwireless bra, soft shirt for lounging/working at wherever I'm staying, soft wrap sweater that I can also wear at conferences rather than my blazer.

* **PJs**, which for me is a soft tee + shorts.

## Jewelry/makeup/toiletries

Smaller-the-better for all of the above.

### Makeup

Caveat that I'm still terrible at doing my own makeup. One of my best discoveries was BB Cream (I specifically use this one from Revlon), which smoothes out inperfections and redness (I have rosacea so I look sunburnt without makeup) and also has sunscreen. I also bring concealer for zit-hiding, potion for my eyelids + neutral eyeshadow, a eyeliner pencil, mascara, and lip stain. 

### Jewelry

I try to keep my jewelry small and in neutral colors so pretty much everything works with any outfits. I tried buying a "jewelry organizer" which turned out to be *huge* so I keep everything in a small drawstring bag, necklaces and earrings in individual tiny ziplocks because I was tired of untangling them.

I also don't wear my wedding ring (well, pretty much never because I'm terrified of losing it — it was my mom's wedding ring with my dad), so I have $10 plain metal bands I wear instead.

### Toiletries

Mostly self-explanatory. Use travel-sized bottles to bring your 'poo and soap with you if you'd like. 

## Professional tools

I love my 2013 Macbook Air — the most recent "Macbooks" got a power hit but this old computer has plenty of ports and power to run my graphic design applications and games while being light enough to carry everywhere. If this computer dies, probably would get a Macbook Pro as the new ones are light enough for travel and have the power I want.

Of course, I also bring my computer and phone charger, a small notebook (my favorites are the small dot-grid notebooks) and a couple Pen-G-4 pens (yes, these specific pens. They are the BEST.)

I spoke at a lot of conferences before I started bringing my own clicker and my own adaptor, and I wish I bought both a lot earlier. You know your own equipment best, and it's a lot more fun and smooth if you can use a clicker rather than pressing a button on your computer every time to change slides. Conferences usually have adapters for projectors to laptops, but 50% of the time it's a scramble to find a spare one. Might as well use your own if you can. 

Sometimes conference AV folks will hand you the AVI cord for the projector — see if there is HDMI available as well and use that if you can. For some reason I thought they were equivalent (derp) but really, the HDMI adapter is so much better quality.

Thanks to the advice of Jessica Rose, I also bring my own HDMI cord. Hotels often have a port on the TV to hook up your computer with the HDMI cord, so you can practice your talk naturally like you were on a conference stage.

All of these gets stored in a zippered pouch. I was using one of these [[LINK]] but it was getting annoying trying to figure out the right layout for cords and items in the straps. I prefer my new pouch, which opens up to lie flat too.

## Travel hacks and helpers

Here's where most of my "secrets" are that make traveling a lot easier.

### Facemask and travel pillow

This is fairly obvious. I like that the travel pillow is inflatable. All this said, I have never mastered the art of sleeping on airplanes so I expect to be uncomfortable and miserable no matter what I do or bring.

### Travel bins

Essential for keeping my clothing organized. Small bin for undies, medium bin for tops, large bin for miscellaneous.

### Travel wallet

I hate the feeling of these but learned my lesson about keeping my documents close as I had *all* of my stuff stolen in Rome awhile ago. I'm also a huge fan of jackets/sweaters with hidden pockets — I have a REI sweater with a zippered pocket hidden in another pocket, my REI jacket has a hidden zipper pocket in the back, and my Baubax jacket has tons of pockets. I will use these hidden pockets and a small travel wallet for whenever I am traveling internationally or places that are known for theft or pickpockets.

### Travel outlet

This one is kind of bulky so I leave at home when I'm staying in hotels (as they usually have plenty of outlets nowadays) but I always bring when I stay at Airbnbs (as inevitably rooms only have like one outlet).

### Travel catch-all

Okay, this is one I haven't bought yet because the price is scaring me but I am pretty sure I'm going to buy it anyways so here it is. This travel catch-all is so you can have a spot in your hotel room to catch all miscellaneous items in one place. My stuff always seems to scatter all over the room (even when I try to put it in only one area — but then again, that area tends to be flat and stuff will get knocked off). Everytime I'm staying away from home I've wished I had this.

### Tiny speaker

I have a hard time falling asleep and sleep super lightly, sigh. Usually when I stay in Airbnb's the noise situation is less than ideal. My recent trip to Tennessee, the walls were so thin I could hear my neighbor's farts. I also hate the feeling of earplugs (I always seem to notice my nose whistling after I put them in, which'll drive me nutty) so I have this speaker to play white noise overnight. I have a free noise app on my phone and play a combo of "pink noise" and rain, which generally overrides any obstrusive outside noises and lets me sleep better.

### Laundry "bags"

I use two lingerie washing bags rather than "laundry bags" for my dirties. They're smaller, have a zipper (rather than a cumbersome pull tie), can be washed with my clothes if they get stinky., and two different colors. The black bag is for "super dirties" as I call it — things I am not going to touch until they get washed. Dirty undies, shirts, etc. The white bag is stuff I can rewear, like my squishies, pajamas, etc - since they're not completely clean, I keep them separate from my clean clothes, and can grab easily when I'm doing laundry. Two bags for laundry was one of my great epiphanies for traveling.

### Emergency kit

I keep this at the bottom of my bag and it holds everything I might need when traveling. First aid essentials: bandaids, moleskine, antibiotic ointment, bug sting wipes, painkillers (multiple kinds), travel thermometer, cough and sore throat drops. Sickness essentials: cold medicine (multiple kinds, including my favorite, Neocitran), pepto chewable tablets, imodium. Comfort essentials: extra facemask, travel tissues, extra ear plugs, safety pins, extra melatonin.

Too many times have I been in a foreign country wandering the streets looking for some place to sell cold medicine (and then dealing with language differences trying to figure out the right medicine to buy). Having this on hand makes me feel a lot better.

### Travel emergency phone charger

I never remember to charge my phone during a conference and it usually dies by the evening before the day is over. This charger isn't the best (it says it can charge 2x but I think only really get 1x) but it's good enough in a pinch when I'm facing a dead phone in a foreign area and I need to figure out how to get home.

### Global Entry/NEXUS

Both of the above give you a registered traveler number, which will get you TSA PreCheck, which is *worth it*. I was one of those people who protested the new scanners by always getting a patdown, but now I can usually just swan through security and the metal detector with little-to-no wait (my all-time high score was two minutes from being dropped off to my gate). 

Don't get PreCheck on its own — get one of the above. If you have access to a Canadian border, I'd recommend NEXUS, as NEXUS gives you both PreCheck and Global Entry. If you don't want to travel to the border, do Global Entry as there are interview stations at a lot of airports, including SFO. The process is kind of lengthy and you have to do an interview with an office, but by golly it's so very much worth it to skip the security and customs lines.

### Status on an airline

Try to do all your flights on one airline group (like OneWorld or Star Alliance) and get status. I now have Gold status on American Airlines, which is the lowest of the three tiers but it gives me a few perks — maybe 5% of the time I get upgraded to business class, but more importantly, I get to book the more-premium economy seats (closer to the front of the plane, which I prefer) and I get to board before most folks. I get irrationally anxious about bin space and knowing that I'll always have space is a huge worry reducer.

Obvious I fly a lot, which is how one gets status, but I also have three Starwood Preferred Guest cards, which I can use to accumulate Starwood points and transfer to AA miles. Highly recommend playing the credit card game for miles. 

## A good attitude

Just got to end with this one. Remember that travel is hard and 99% of the people out there are lovely, wonderful people just trying to do their best. For some reason traveling seems to bring out the worst in folks!

{% endfilter %}

{% endblock body %}
