author: tracy@limedaring.com
date: 2009-05-29
featuredimage:
featured:
excerpt: Just recently I had the opportunity to go to my alma mater to speak to my former department about Web Standards. While the curriculum has improved since I graduated, the Graphic Design concentration in the Art &amp; Design major is definitely more for print design rather than web design, and the web design track (three courses), doesn't have time to teach web standards (...apparently)
title: Web design and networking resources
category: design

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Just recently I had the opportunity to go to my [alma mater](http://www.calpoly.edu/) to speak to my former department about Web Standards. While the curriculum has improved since I graduated, the Graphic Design concentration in the [Art &amp; Design](http://artdesign.libart.calpoly.edu/) major is definitely more for print design rather than web design, and the web design track (three courses), doesn't have time to teach web standards (...apparently).

My talk (slides will be posted soon) went well enough -- I was nervous and my slides weren't as perfect as they should have been, so the first half was rushed. However, the second half, I was able to slow down, get into examples and topics I was comfortable with, and for the students [about 15, about 7 paying attention (ah, college)], it probably became a lot more enjoyable.

Since I was only able to go into the basics of Web Standards, I promised to post the list of resources for them to look at after if they need more information. If you see anything major that I am missing, let me know in the comments.

## Online Resources:

### A List Apart

[http://www.alistapart.com/](http://www.alistapart.com/)

A List Apart Magazine (ISSN: 1534-0295) explores the design, development, and meaning of web content, with a special focus on web standards and best practices.

### Smashing Magazine

[http://www.smashingmagazine.com/](http://www.smashingmagazine.com/)

Founded in September 2006, Smashing Magazine delivers useful and innovative information to Web designers and developers. Our aim is to inform our readers about the latest trends and techniques in Web development. We try to convince you not with the quantity but with the quality of the information we present. We hope that makes us different. Smashing Magazine is, and always has been, independent.

### Nettuts+

[http://nettuts.com/](http://nettuts.com/)

Nettuts+ is a site aimed at web developers and designers offering tutorials and articles on technologies, skills and techniques to improve how you design and build websites. We cover HTML, CSS, Javascript, CMS’s, PHP and Ruby on Rails.

### HTML Dog

[http://htmldog.com/](http://htmldog.com/)

Welcome to HTML Dog, the web designer's resource for everything HTML and CSS, the most common technologies used in making web pages.

### Sitepoint

[http://www.sitepoint.com/](http://www.sitepoint.com/)

SitePoint is a fast growing online media company and information provider targeting the Web professional market, specifically Web Developers and Designers. The company has five major revenue streams: advertising and sponsorship, content-based products both online and in retail, software, and more recently streaming video subscriptions and classified listings.

## Books

### Designing with Web Standards, 3rd Edition

[Designing with Web Standards (2nd Edition)](http://www.amazon.com/gp/product/0321385551?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0321385551)

### Transcending CSS

[Transcending CSS: The Fine Art of Web Design (Voices That Matter)](http://www.amazon.com/gp/product/0321410971?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0321410971)

### CSS Zen Garden

[The Zen of CSS Design: Visual Enlightenment for the Web](http://www.amazon.com/gp/product/0321303474?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0321303474)

### The Art and Science of CSS

[The Art and Science of CSS](http://www.amazon.com/gp/product/0975841971?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0975841971)

### Don't Make Me Think!

[Don't Make Me Think: A Common Sense Approach to Web Usability, 2nd Edition](http://www.amazon.com/gp/product/0321344758?ie=UTF8&tag=limedaring-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0321344758)

## Conferences:

### South By Southwest Interactive

[http://sxsw.com/interactive](http://sxsw.com/interactive)

The SXSW Interactive Festival features five days of exciting panel content and amazing parties. Attracting digital creatives as well as visionary technology entrepreneurs, the event celebrates the best minds and the brightest personalities of emerging technology.

### An Event Apart

[http://aneventapart.com/](http://aneventapart.com/)

Join Eric Meyer, Jeffrey Zeldman and special guests to gain a deeper understanding of web standards and best practices. Be inspired by fresh ideas and creative new directions. Spend two days with the greatest minds and hottest talents in web design today.

### Future of Web Design

[http://events.carsonified.com/fowd](http://events.carsonified.com/fowd)

For Web Designers, Creatives and anyone who cares about web design.

## Meetups:

### Super Happy Dev House

[http://superhappydevhouse.org/](http://superhappydevhouse.org/)

SuperHappyDevHouse is a non-exclusive event intended for creative and curious people interested in technology. We're about knowledge sharing, technology exploration, and ad-hoc collaboration. Come to have fun, build things, learn things, and meet new people. It's called hacker culture, and we're here to encourage it.

##### Geek Dinners and Girl Geek Dinners

Check [upcoming.org](http://www.upcoming.org/) for the next dinners in your area

##### Barcamp

[http://www.barcamp.org/](http://www.barcamp.org/)

BarCamp is an ad-hoc gathering born from the desire for people to share and learn in an open environment. It is an intense event with discussions, demos and interaction from participants who are the main actors of the event.

##### Meetup.com

[http://www.meetup.com](http://www.meetup.com/)

Helps groups of people with shared interests plan meetings and form offline clubs in local communities around the world.

##### Refresh

Open communities of web designers, developers, and marketers that meet in various areas, including San Diego, DC, and Denver. No central web address--Google for info.

{% endfilter %}
{% endblock body %}
