author: Tracy Osborn
date: 2009-01-02
featuredimage:
featured:
excerpt: I almost wrote "2007 Resolutions" as the title, then realized that I was two years off. Where the hell did the time go? I graduated from college in June 2007, ready and able to take the world to its knees. And while I didn't publicly write down any goals, I still remember my major goals for the last year.
title: Resolutions
external:
category: personal 

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

I almost wrote "2007 Resolutions" as the title, then realized that I was two years off. Where the hell did the time go?

I graduated from college in June 2007, ready and able to take the world to its knees. And while I didn't publicly write down any goals, I still remember my major goals for the last year.

## 2008 in Review

### South by Southwest

Probably the best thing I did all year. I was a bit disheartened to find out that my work would not pay for me to go (since they'll pay for conferences within the state already), but I ponied up the money, bought my hotel room, and threw myself into the melee of web design completely alone and knowing no one at the conference. It was intimidating, as I am by nature a very shy person, but I came out of it with knowledge and a few friends. These friends would help me network within my own area and jumpstart the networking process.

### Geek Dinner

I had my first speaking opportunity, as small as it was, at [the Silicon Valley Geek Dinners](http://static.squarespace.com/static/543c1b40e4b0f23a04303889/543f4799e4b033d6ec5036ed/543f47cde4b033d6ec50416c/1413433293468/?format=original). I spoke about multivariate testing (being that it is now my main job at work) and was astonished by the amount of people who haven't heard of it before (quick explaination). I will probably capitalize on this for future speaking opportunities.

### Websites launched

I now have THREE unfinished websites, all in my name:

* [Limedaring, this website](/)
* [Veggieblog, my gardening blog](/blog/veggieblog)
* [Dreamlist, my dream-fulfilling blog](http://static.squarespace.com/static/543c1b40e4b0f23a04303889/543f4799e4b033d6ec5036ed/543f47cde4b033d6ec504163/1413433293383/?format=original)

All of these are in need of serious work (this website needs to have all the formatting finished; veggieblog needs the last bit of graphic work plus actual blog posts; dream list needs its own skin) but I definitely have gotten more into the habit of writing. Since I only barely passed my writing courses in college, a lot of work (and practice) is needed and I've gotten on the right track.

## 2009 Resolutions

That's it? That's all I've done, professionally, in 2008? Rather annoying, if you ask me.

### Resolutions:

* Finish Limedaring. I want to add in hand-drawn elements, and I don't have a scanner. Really, this is the largest obstacle to finishing this website; I get so frustrated that I can't (easily) do what I want to do so I put it off. So: In 2009, I will finish this website, finally.
* Write more at Veggieblog (and give it a better name): This is simply for writing practice, but I should get back in the habit of working on it.
* Write more on my Dreamlist.
* Speak professionally at least thrice. I need more practice if I'm ever to speak at a conference.
* Finish projects -- first, the project I'm working on with others, and then start my own idea for a webapp. As I'm not skilled in stuff like Python, I will need help to get this webapp off the ground.
* At some point this year, look at my current job situation and determine whether it is fulfilling my needs. Move on if I have to (and especially if I NEED to).
* Look into getting myself into a position to consult, if I ever lose my job and need a backup.
* At the end of the year, submit a topic to speak about at SXSW.

May this year be fulfilling and exciting; may this year bring myself to higher levels professionally, and may this year leave me in an even better place than before.
{% endfilter %}
{% endblock body %}
