featuredimage:
featured: True
date: 2018-10-01
author: Tracy Osborn
excerpt: Almost eight years ago I taught myself how to code and launched my startup. It's been a rollercoaster. In late 2011, I joined the Designer Fund and 500 Startups, moving WeddingLovely from a bootstrapped model to funded model. At its end, WeddingLovely was a collection of eleven different properties in three categories: the planning app, the vendor directories, and a weddings blog. I've gained and lost a co-founder, gained and laid-off employees over the years...
title: Shutting down WeddingLovely
external:
category: entrepreneurship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Almost eight years ago [I taught myself how to code and launched my startup](http://localhost:8000/articles/im-a-designer-who-learned-django-and-launched-her-first-webapp-in-6-weeks/), [WeddingLovely](https://weddinglovely.com).

![](/static/images/blog/weddinglovely.jpeg)

[See my case study on WeddingLovely here.](/articles/case-study-weddinglovely/)

It's been a rollercoaster. In late 2011, I joined the [Designer Fund](http://designerfund.com) and [500 Startups](http://500.co), moving WeddingLovely from a bootstrapped model to funded model. At its end, WeddingLovely was a collection of eleven different properties in three categories: the planning app, the vendor directories, and a weddings blog.

I've gained and lost a co-founder, gained and laid-off employees over the years. My passion has largely moved elsewhere ([Hello Web Books](https://hellowebbooks.com) has been my focus for the last couple of years), but WeddingLovely largely ran itself and was making a good amount of revenue through affiliate and subscription accounts, so I hired a team to keep it running a few years ago and stayed on as an advisor.

It was the lazy way out &#8212; the business wasn't evolving significantly, no new features were being launched, but the businesses and engaged couples that used our service seemed happy, I was able to employ a few folks who seemed happy as well, so why not continue it on?

[We had our best year ever](https://www.indiehackers.com/product/weddinglovely/) so I decided to try to [find a buyer](https://medium.com/@limedaring/why-im-selling-weddinglovely-my-eight-year-old-company-with-62-000-revenue-in-2017-69fb56c8929f), and suddenly we started having trouble with SEO. A few of our big blog posts tanked. Negotiations weren't going well (the folks who were interested weren't a good fit, and companies for whom it would have been a good fit weren't interested.) I took a good hard look at the features and benefits of WeddingLovely, and because I (the designer/developer/main product person) haven't been spending my time on the business, everything was a bit stale.

It's time finally close it up and move on entirely. I'm in process of closing down everything by the end of the year.

In the next few months while I close things down, I'm planning on showcasing some of the code and features since I think that will be useful for [Hello Web App](https://hellowebbooks.com/learn-django/) students. [Subscribe on YouTube if you're interested.](https://www.youtube.com/user/tosborn83/)

Thanks friends. It's been quite a journey.💕
{% endfilter %}
{% endblock body %}
