author: Tracy Osborn
excerpt: Specifically when it comes to web design, your design/app/page/doodad is not ever going to be perfect. Don't wait to launch something, thinking, "Maybe if we get all the little details right, we'll be a success from the beginning." Or even, "We have to have everything perfect before we launch, as a matter of principle."
date: 2009-11-17
featuredimage:
featured:
title: Stop waiting for things to be perfect
category: entrepreneurship 

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

### Pet peeve: Don't wait for something to achieve perfection.

Specifically when it comes to web design, your design/app/page/doodad is not **ever** going to be perfect. Don't wait to launch something, thinking, "Maybe if we get all the little details right, we'll be a success from the beginning." Or even, "We have to have everything perfect before we launch, as a matter of principle."

Your project is never going to be perfect, and it never should be perfect. Bugs are inevitably going to be found; designs are inevitably are going to be tweaked; typos found and content changed. You know that there is going to be more work on your project after the alpha launch, so why not launch NOW with what you have and start the feedback rolling in?

{% endfilter %}
{% endblock body %}
