author: Tracy Osborn
date: 2017-01-27
featuredimage:
featured:
excerpt: I often warn friends who are thinking of running a Kickstarter campaign that it's 30 days of pretty much constant stress and worries.
title: Stress and feeling like I need to be positive all the time.
category: personal 

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Right now I'm in OMG MARKETING SHARING MUST SPAM EVERYONE mode because I'm running the [Kickstarter campaign for my next book, Hello Web Design.](https://www.kickstarter.com/projects/1868398473/hello-web-design-design-basics-for-non-designers/)

I often warn friends who are thinking of running a Kickstarter campaign that it's 30 days of pretty much constant stress and worries.

I also try to keep my public social media accounts only positive and upbeat news, which makes it kind of hard when inside, I'm feeling rather shitty.

(And also it's hard because logically I know I shouldn't feel shitty, and yet I do.)

I can't stop myself from checking my email for new backer notifications, and if an hour goes by without a new backer, I start worrying that I'm not doing enough and that the Kickstarter is going to fail. Also doesn't help because my minimum ($15,000) is actually about half of what I'm hoping to raise, so I fret a lot.

I'm in constant content-churn-out mode, which has actually worked fairly spectacularly [in terms of my Medium post](https://medium.com/@limedaring/design-for-non-designers-part-1-6559ed93ff91) *now*... but when I first launched it, it actually took about a day to take off. I posted it to Hacker News and it got no upvotes. I was also in Budapest at the time, alone in my hotel room, so I was pacing in circles and messaging Andrey (my husband) frantically because, if folks didn't care about that post, why would they care about the book? Poor guy.

Well the next day the post finally got some traction and I stopped fretting for about three minutes ("yay people do like what I am doing!") and then I started fretting about something else.

So, this post... I needed a little outlet to whine. I'm super lucky to do what I'm doing so I feel like I shouldn't be whining, but all the 100% upbeat positivity "look how awesome the Kickstarter is doing and how awesome WeddingLovely is doing and how awesome Hello Web App is doing and how many conferences and talks I'm doing and how lucky I am" feels a little disingenuous when sometimes I feel (illogically) like the house is actually burning down.

In any case. [Back the Kickstarter.](https://www.kickstarter.com/projects/1868398473/hello-web-design-design-basics-for-non-designers/)
{% endfilter %}
{% endblock body %}
