date: 2015-05-01
featured:
featuredimage:
author: tracy@limedaring.com
comments: true
excerpt: The recent hashtag #talkpay on Twitter reminded me of a situation I found myself in at a former job. I contracted with a local startup during my last few years of college, and they gave me a job offer the winter before I graduated. The $40,000/year offer would expire in a week, and I wasn''t prepared to try to get competing offers in that time. I felt pressured to take the job as it was implied I would lose the opportunity if I didn''t, and I also didn''t negotiate.
title: I was underpaid for years and I didn't know it
external:
category: womenintech, personal

{% extends "post.html" %}
{% block body %}


<figure class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oNN0EjJ6o90" frameborder="0" allowfullscreen></iframe>
</figure>

{% filter markdown %}

*Update 8/8/16: I turned the below story into a talk at [ELA Conf](http://elaconf.com/) in November 2015, see it above.*

The recent hashtag #talkpay on Twitter reminded me of a situation I found myself in at a former job. I contracted with a local startup during my last few years of college, and they gave me a job offer the winter before I graduated. The $40,000/year offer would expire in a week, and I wasn't prepared to try to get competing offers in that time. I felt pressured to take the job as it was implied I would lose the opportunity if I didn't, and I also didn't negotiate.

I ended up at the company for many years, and every review I would get a glowing recommendation and an enthusiastic "10%" boost to my salary. I thought I was doing awesomely, since I was told that 10% was the max salary increase that they would give every year.

I started dating my now-husband, and he rightly pointed out that I was being severely underpaid for my lead position at this startup at $53,000/year. My review was coming up, and he worked with me and my negotiating skills to ask directly for a bump to $90,000/year. I was extremely nervous and it took a lot of coaching to help me to build up courage to even broach this conversation with my bosses.

Come review time, I was praised for my work and told that I got the max 10% raise, which boosted my salary to $58,000/year. At this point (heart racing, sweaty, nervously) I said that I reviewed other salaries for my level, and I felt that I deserved a raise to $85,000. At the last moment I panicked and lowered my ask from the planned $90k.

My bosses blinked, and asked me to leave the room so they could review my ask. I don't remember how long it was — not long — until I was invited back in and they offered me $82,000 instead, which I accepted.

I was astonished how easy it was to get such a bump — 55% raise, when they had told me that their max was always 10%, and the only conclusion I could come to is that they knew they were underpaying me, and the jig was now up. If I hadn't come forward and asked for what I was worth, they would not have raised my salary to industry standards on their own.

I learned a valuable lesson: Yes, it's important to ask for I think am worth, but it's even more important to stay aware of what I am actually worth. I'm glad the conversation around #talkpay is happening and I hope it adds valuable context to everyone out there who is being taken advantage of.

PS: I left that job a few months later — one of the best decisions I've ever made!

{% endfilter %}
{% endblock body %}
