featuredimage:
date: 2017-1-30
featured: True
excerpt: One of the criticism's of the Hello Web Design book is whether teaching folks how to design will take away work from professional designers. As a "real" designer (degree in Art &amp; Design from Cal Poly SLO, and building websites for, yes, 20 years), I get where this person is coming from.
author: Tracy Osborn
title: Learning design vs. becoming a designer
category: design

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

One of the criticism's of the [Hello Web Design book](https://www.kickstarter.com/projects/1868398473/hello-web-design-design-basics-for-non-designers) is whether teaching folks how to design will take away work from professional designers.

Specifically, on Twitter recently:
> "So, let me get this right... she wants to help people D.I.Y. their work, which means real designers won't be hired/paid?"

**As a "real" designer (degree in Art &amp; Design from Cal Poly SLO, and building websites for, yes, 20 years), I get where this person is coming from.** We often see folks asking about hiring a designer, and inevitably someone chimes up that the original poster should just do it themselves ("because it isn't that hard.") It's hard finding jobs as a freelance designer, made harder because folks want cheap, fast design and seem to not care about quality.

I'm a designer, but I wear a lot of other hats as well. I'm a startup founder, funded by one of the [largest startup accelerators in Silicon Valley](http://500.co). I'm a developer too, building my startup from scratch. And as a solo founder, I also have to do marketing and sales work. I do a lot of conference speaking, and I attend more developer conferences than I do design.

I totally get that it's hard to find jobs as a designer, and here I am launching a book to help more people design. I can see why that might lead folks to believe that I'm devaluing design into something "anyone" can do.

**I ask for a little empathy for folks who aren't designers.**

There are so many little things that require design thinking. Building slides. Formatting your resume. Launching your website. Building a form for your company.

It is impossible for someone to hire a designer for every task they must do that requires design and design thinking because *design is everywhere.* It's a no brainer for us designers since our design eye has been trained and we feel comfortable with design. 

To someone with no design training, design is intimidating and unescapable. How many times have you been in a presentation with a developer who apologizes for the design of their slides?

**Teaching design to non-designers will also help empathy for designers.** 

Knowing a little bit about design isn't going to reduce the importance of design &#8212; it will increase it. We can teach the little things but the big hurdles are still there, and having some experience with design will increase respect for the *big* things.

My book doesn't teach someone how to become a professional designer &#8212; my goal is to help folks start feeling more comfortable with design to do some design themselves. To give them more design freedom, and improve their design thinking. **Teaching someone a bit about design will not make them a professional designer overnight.**

And yes, if someone is building a little side project and they want to launch it, I think they should DIY design, because DIYing design is the fastest way to launch your MVP. **And when projects get more important, design will become more important &#8212; and that's when a professional designer can and should be hired.** 

I believe folks who know a bit about design will be *more* likely to hire a professional designer when the time is right. I'm a designer, and even I hire designers for things bigger than me.

Last but not least &#8212; I'm a 1000% in favor of learning new things, even if they're not in your current career path. Designers, learn development if you like. Developers, learn design. Learn sales. Learn marketing. A bit of knowledge is fun and should never be denied.

[On that note: Back the Kickstarter for Hello Web Design.](https://www.kickstarter.com/projects/1868398473/hello-web-design-design-basics-for-non-designers)
{% endfilter %}
{% endblock body %}
