date: 2013-02-06
featuredimage:
featured:
excerpt: One of the biggest moments of my career a few years ago was being invited onto Jeffrey Zeldman and Dan Benjamin's podcast, The Big Web Show. This was before WeddingLovely launched, when I was working on a related project called WeddingType (which was dropped after it was clear that the technology for typography for PDFs was beyond my reach.)
author: Tracy Osborn
title: The Big Web Show
category: personal

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

One of the biggest moments of my career a few years ago was being invited onto Jeffrey Zeldman and Dan Benjamin's podcast, [The Big Web Show](http://5by5.tv/bigwebshow). This was before [WeddingLovely](http://weddinglovely.com) launched, when I was working on a related project called WeddingType (which was dropped after it was clear that the technology for typography for PDFs was beyond my reach.)

[Read more about my interview here.](http://5by5.tv/bigwebshow/17)

{% endfilter %}
{% endblock body %}
