featuredimage:
featured:
date: 2013-05-07
author: Tracy Osborn
excerpt: Startup life is hard. Everyone knows about the startup rollercoaster, and I certainly experience it every single day (and have been for the last 3ish years.) The biggest issue that when it comes to working on my startup, being in a bad mood (worrying about money, payroll, growth, etc. and so forth) means I actually get less done.  I stare at my computer, open Reddit, close Reddit out of guilt, open Hacker News, then I notice I already have two Hacker News tabs open which is just confusing and embarrassing. I tell myself I’m working because I’m reading startup news, start thinking about things that stress me out, close Hacker News, open Reddit.
title: The worst enemy to my startup is depression
external:
category: entrepreneurship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Startup life is hard. Everyone knows about the startup rollercoaster, and I certainly experience it every single day (and have been for the last 3ish years.)
The biggest issue that when it comes to working on [my startup](http://weddinglovely.com), being in a bad mood (worrying about money, payroll, growth, etc. and so forth) means I actually get _less_ done. I stare at my computer, open [Reddit](http://reddit.com), close Reddit out of guilt, open [Hacker News](http://news.ycombinator.com), then I notice I already have two Hacker News tabs open which is just confusing and embarrassing. I tell myself I’m working because I’m reading startup news, start thinking about things that stress me out, close Hacker News, open Reddit.




Compare that to being in a good mood—happy about how the company is going, excited about being profitable (fuck yes), new income sources, working with new and amazing vendors, growth is great—my productivity flies off the charts. Bam, I can do anything quickly and with enthusiasm.




**Basically—when I feel like my startup isn't doing very well, I feel compelled to do exactly what I shouldn't be doing, theoretically making a bad situation worse. **




The silver lining here is that I'm at least aware of this phenomenon and have a go-to strategy to force myself out of the funk. Put on headphones and play kick ass, fast beat music. My favorite is [Girl Talk](http://illegal-art.net/girltalk/)—the combination of hilarious rap music combined with 80s melodies never fails to perk me up. My partner and I have a theory that nearly anything can be accomplished in a 45 minute Girl Talk album.




Headphones are crucial—blocking out the noise of the outside world is better accomplished with headphones than using speakers.




I'll also spend some time to write down everything that I could realistically accomplish that day (so, small tasks like "complete emails" and "set up vendor newsletter") and literally force myself to do once. Once I cross one thing off, the rest on the list feel easier to accomplish.




Notice that I kept referencing Reddit above? I'll even block Reddit in my hosts file when things get really bad since I'll unconsciously go to it whenever I get the slightest bit distracted.




Last, heading somewhere without internet and distractions does wonders for my productivity, and some of my largest coding accomplishments have occurred at my cabin in the mountains that has no internet nor cell service.




**It's impossible to keep myself motivated every hour of every day. But, as a startup founder, it's crucial that I'm either in a great mood and accomplishing great things, or acknowledge that I'm in a terrible mood and have a set of tactics that I force myself to do to get myself back on track. **
{% endfilter %}
{% endblock body %}
