date: 2019-06-02
featuredimage:
featured: True
author: Tracy Osborn
excerpt: Six months ago I officially shut down WeddingLovely, and if you asked me what was next, I would have told you that I would be looking for a job — but was pretty sure I wanted to, long-term, continue working for myself. Today, I can tell you I found my dream job (which I didn't even know what a possibility for me) and I am so dang excited about it.
title: Two months at TinySeed
external:
category: entrepreneurship, personal

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Six months ago [I officially shut down WeddingLovely](https://limedaring.com/articles/shutting-down-weddinglovely/), and if you asked me what was next, I would have told you that I would be looking for a job &#8212; but was pretty sure I wanted to, long-term, continue working for myself.

**Today, I am the Program Manager at [TinySeed](https://tinyseed.com) — a remote, year-long accelerator for bootstrapped businesses.** Traditionally, new tech startups had to choose between being 100% bootstrapped (funding their business themselves), or taking VC money and all its requirements for extremely fast growth. With WeddingLovely, I tried to do both &#8212; bootstrapping, then taking some angel money, then bootstrapping, then taking a tiny bit more money, and it's absolutely something I regret (I spoke at MicroConf 2016 about this; [search for my name here for the video](https://www.microconf.com/growth/past-videos/)). Back then, it was a binary decision without a lot of possibilities for a middle ground.

TinySeed gives bootstrapped founders another option: enough funding for the following year so the founder can quit their job and work full time on their business, or (if they've already done so), enough to hire another person or use that money for other growth opportunities. More importantly, the year-long program gives these founders (often working solo) a community of people and mentors to work with, encourage, ask advice from, to help the founder make better decisions and work more efficiently. We're creating a small family: people to ask advice and folks for whom you can lean on in hard times.

I was hired to help form and run the program and it's an absolute delight.

I spent a few months interviewing at various companies and receiving (what felt like) endless rejections. Devrel at Pagerduty. A smashing-sounding job at Glitch developing intro-to-tech zines (this rejection still stings, especially since they didn't explain why I wasn't chosen and Anil Dash never responded to my email). Applied for a more entry-level position at the Mozilla Foundation as a front-end developer — rejected since I had too much experience (wut.)

*(Note to self: Another day, write a post/rant about how hard it is to find a job when one's skills don't fit perfectly in most job descriptions.)*

When I saw that [TinySeed was hiring a Program Manager](https://www.indeed.com/job/program-manager-startup-accelerator-b117fa3f494960c8), I was stinging from being rejected from so many places that I skimmed the description, said to myself, "Fuck it," and applied.

**There's something to be said about the "Fuck it" mindset that reduces ego and the fear of rejection, and boosts confidence.** I sometimes wonder what would have happened if I came across the job listing at the start of my job search — would I have held myself back since the job description was so different than what I had expected my career to be?

The TinySeed job description caught my eye because the requirements listed out a lot of things I did at WeddingLovely and almost perversely enjoyed way too much. Documentation. Creating endless to-do lists and spending almost too much time identifying, collecting, and tracking ideas and things to-do-in-the-future. Hiring and working with my employees — but not just as my underlines, but becoming invested in their growth and training. Even mundane tasks like doing bookkeeping or my own taxes — I would stop working on development and design and work on these things instead. I like to keep track of the state of _all_ things and am constantly thinking about current processes and how to improve them.

Two months in, I can tell you that TinySeed feels like my forever job, something that I want to be doing still five, ten years down the road. It's so great to be on the ground floor of a business I believe in, that I work with a very small team but feel like I have so many coworkers and folks to "hang" with through the day with the founders we work with.

So that happened! I have a job and I love it. 🎉

{% endfilter %}
{% endblock body %}
