author: tracy@limedaring.com
featuredimage: /images/blog/2015/12/7/1.jpg
featured: True
date: 2015-04-30
comments: true
excerpt: A little different than self-deprecation (downplaying achievements), I'm also terrible at self-promotion (even mentioning what I'm doing and excited about.) I'm running into that now with Hello Web App, the book I'm working on (woo, self promotion!) Ideally, I would write the book, release it to the wind, and hopefully people will be find it, love it, and share it without me doing anything. Unfortunately it doesn't work like that. I have to market the book — sharing it on Twitter, on Reddit, by trying to mention it as much as possible while trying not to be obnoxious.
title: What I Wish I Did Differently: Self-Promotion
category: entrepreneurship

{% extends "post.html" %}
{% block body %}

<figure>
    <img src="/static/images/blog/hwa-books2.jpg" alt="">
</figure>

{% filter markdown %}
A little different than self-deprecation (downplaying achievements), I'm also terrible at self-promotion (even mentioning what I'm doing and excited about.)

I'm running into that now with [Hello Web App](http://hellowebapp.com), the book I'm working on (woo, self promotion!) Ideally, I would write the book, release it to the wind, and hopefully people will be find it, love it, and share it without me doing anything. Unfortunately it doesn't work like that. I have to market the book — sharing it on Twitter, on Reddit, by trying to mention it as much as possible while trying not to be obnoxious.

It's another issue I have with [WeddingLovely](http://weddinglovely.com). A few years ago I worked up the courage to go to a stationer show but simply marketing and promoting my business was too hard — I instead ordered a bunch of cookies and made gift bags and used those to open up a conversation at vendor booths. In retrospect, it worked really well, but I haven't done something like that since.

And don't get me started about promoting WeddingLovely outside of wedding fairs and circles. At any tech event I do, mentioning that I work in weddings usually causes eyes to glaze over — probably because I'm talking to tech dudes. It's been easier to talk about my work with Hello Web App to tech people than my business, because with Hello Web App, eyes light up and people are interested; with WeddingLovely, they look immediately disinterested and I feel discounted.

I talk about Hello Web App more than I do WeddingLovely because I know I'll get a better reception. That annoys me.

Not to mention the stigma about self-promotion. Sharing Hello Web App on Reddit was tough, because I had to craft the perfect message that both shared the book without looking like _marketing_. I reached out to moderators, and they said that if anyone flags the post, they'd remove it immediately for being self-promotion. The post stayed up and got quite a few upvotes, and I was accused of having bots upvote my post for me in the comments.

I can't afford to pay for advertising, and I'm proud of what I made. Can't I share it? There are terrible self-promoters that sound super spammy, but that shouldn't discount self-promotion as a whole.

Let's celebrate makers, not slam them.

### Additional posts on this topic:

* [What I Wish I Did Differently: Networking](http://www.limedaring.com/articles/what-i-wish-i-did-differently-networking)
* [What I Wish I Did Differently: Blogging](http://www.limedaring.com/articles/what-i-wish-i-did-differently-blogging)
* [What I Wish I Did Differently: Self-Deprecation](http://www.limedaring.com/articles/blog-what-i-wish-i-did-differently-self-deprecation)

{% endfilter %}
{% endblock body %}
