featuredimage: /images/blog/2015/12/7/1.jpg
featured: True
author: Tracy Osborn
date: 2015-04-08
excerpt: The focus of this post is a little funny since these last few posts have been quite an exercise in self-deprecation and not being positive — going over my perceived failures and things I wish I could change. In hindsight, as well, it would benefit me to also celebrate my successes, because without some celebration, it would seem as though the last four years were a complete failure (and they definitely weren’t.)
title: What I wish I did differently: self-seprecation
external:
category: entrepreneurship, personal

{% extends "post.html" %}
{% block body %}

<figure>
    <img src="/static/images/blog/inc.jpeg" alt=""/>
    <figcaption>I was featured in a magazine! (Well, my startup was at least.)</figcaption>
</figure>

{% filter markdown %}
The focus of this post is a little funny since these last few posts have been quite an exercise in self-deprecation and not being positive — going over my perceived failures and things I wish I could change. In hindsight, as well, it would benefit me to also celebrate my successes, because without some celebration, it would seem as though the last four years were a complete failure (and they definitely weren’t.)

Self-deprecation sneaks up in the worst possible situations. I had a meeting with a potential acquirer that went terribly as I kept falling into the trap of downplaying my achievements (I was late to the meeting and was in a terrible mood due to this, and that mood led me to being more negative about myself than I should have been, especially in such an important meeting like that one. I still kick myself to this day about that.)

It’s also easier to talk about things that aren’t going well, compared to feeling like I’m bragging. I know I’m in a place of privilege—I’ve been able to work on my own startup for the last four years, make my own schedule, and for the most part, determine my future.

I’ve done some amazing things that I should celebrate.

  * I built the entirety of [WeddingLovely](http://weddinglovely.com), design and development. While there is always room for improvement, in general the website looks and performs awesomely, and _I built that_. So cool.
  * I’ve received about $70,000 in revenue over the lifetime of WeddingLovely. Again, while this might be small-peanuts compared to big startups, it’s still $70,000 that I’ve persuaded individuals and small-businesses to hand over to WeddingLovely.
  * WeddingLovely has persuaded 4,300 businesses worldwide to sign up to our wedding vendor directory. We’ve (90% of the time, me) individually reviewed each and every one of these applications.
  * I’ve been leading a remote team of four individuals, and paying them part-time. Not full-time, but I’ve helped others work from home and earn more income.
  * I’ve built a business that allows me to travel and work from abroad. I was able to rent apartments in Europe for three months in 2013 and run my business while traveling.
  * I’ve met amazing people during my startup tenure. Other startup founders, designers, developers, marketers, etc.
  * I've been able to spend my off time the last year [writing a book](http://hellowebapp.com).

I still feel like I'm bragging. But it's worth celebrating that the last four years have been positive with successes, even if it's not the runaway kind of success that you read in TechCrunch.

(Note that while I can celebrate my achievements, I still have self-deprecating notes. Augh.)

### ADDITIONAL POSTS ON THIS TOPIC:

* [What I Wish I Did Differently: Networking](http://www.limedaring.com/articles/what-i-wish-i-did-differently-networking)
* [What I Wish I Did Differently: Blogging](http://www.limedaring.com/articles/what-i-wish-i-did-differently-blogging)

_[Follow me on Twitter: @limedaring](http://twitter.com/limedaring)_

{% endfilter %}
{% endblock body %}
