featuredimage: /images/blog/2015/12/7/1.jpg
featured: True
date: 2015-03-30
author: Tracy Osborn
excerpt: Some of the biggest wins in my life have been tied to blogging and writing down my experiences. For a long time, I known as the “Hacker News wedding person” after my articles about trying to find a cofounder and teaching myself to code reached the top of the popular hacker social network.
external:
title: What I wish I did differently: blogging
category: entrepreneurship, personal

{% extends "post.html" %}
{% block body %}

<figure>
    <img src="/static/images/blog/hn-design-post.png" alt=""/>
    <figcaption>Pretty much my biggest writing triumph to date.</figcaption>
</figure>

{% filter markdown %}
Some of the biggest wins in my life have been tied to blogging and writing down my experiences. For a long time, I known as the “Hacker News wedding person” after my articles about trying to [find a cofounder](http://www.limedaring.com/articles/technical-co-founder-wanted-for-disrupting-the-wedding-industry) and [teaching myself to code](http://www.limedaring.com/articles/im-a-designer-who-learned-django-and-launched-her-first-webapp-in-6-weeks) reached the top of the popular [hacker social network](http://news.ycombinator.com).

The article about finding a cofounder introduced me to a lot of amazing people in the Bay Area as I “interviewed” potential cofounders. Quite a few of these relationships have stayed with me to this day.

When I applied for 500 Startups, Paul Singh (no longer with 500) said he accepted me into 500 because he saw my articles and that I was a “cockroach” who “would never die.”

Blogging for [WeddingLovely](http://weddinglovely.com), too, has been a good thing — keeping the users and vendors up to date with what I was working on made WeddingLovely feel smaller, more personal, compared to the wedding giants.

Alas, blogging is easy when you’re sharing wins and positive information — blogging is hard when you feel like you’re failing. This is the number one reason why I have been writing so sporatically over the last few years — I wanted to save my posts for when I had something good to share. I felt like my startup is failing, but I didn’t want to let others be aware of that fact as well (Indeed, it still astonishes me when I see someone whom I haven’t talked to in awhile, and they say, “Wow, you’re killing it!” when I feel like I’m doing the complete opposite.)

I’ve finally reached the point where I feel (semi-)comfortable talking about my personal failings and where I wish I did better, because a) I need to blog more in general, even if it’s not awesome self-promote-y news, and b) I need help. I spend a lot of time thinking about what I wish I did differently, and I hope that these posts help others in my situation not feel like they’re alone!

### Additional posts on this topic:

* [What I Wish I Did Differently: Networking](http://www.limedaring.com/articles/what-i-wish-i-did-differently-networking)
* [What I Wish I Did Differently: Self-Deprecation](http://www.limedaring.com/articles/blog-what-i-wish-i-did-differently-self-deprecation)

[Follow me on Twitter: @limedaring](http://twitter.com/tracymakes)

{% endfilter %}
{% endblock body %}
