date: 2016-09-08
featuredimage:
featured:
author: Tracy Osborn
excerpt: I run a startup, I am very involved in the programming world, and I attend a lot of conferences throughout the year. Often at events, dinners, or meetups I notice that I am literally the only woman in the room
title: When I’m the only woman at an event
external:
category: personal, womenintech

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

I run a startup, I am very involved in the programming world, and I attend a lot of conferences throughout the year.

Often at events, dinners, or meetups I notice that I am **literally the only woman**. 

I’m embracing it. If I allow myself to feel uncomfortable and leave, then there would be absolutely **no** women in the room.

I’m a representative if I stay. I feel proud of myself for being there and being involved. I hope that some day there will be more ladies with me. 

In the meanwhile, **I am happy to be the first woman in the room**.

{% endfilter %}
{% endblock body %}
