date: 2013-06-16
featuredimage:
featured:
author: Tracy Osborn
excerpt: Startup life is hard. I spent a lot of time thinking about what I am doing and why—partly to justify my constant lack of income, and my ever-present stress about being literally the reason why I am, or am not, succeeding. This is my story.</p>
title: Why I'm an entrepreneur
external:
category: entrepreneurship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Startup life is hard. I spent a lot of time thinking about what I am doing and why—partly to justify my constant lack of income, and my ever-present stress about being literally the reason why I am, or am not, succeeding. This is my story.





## Beginnings





Looking back, I was priming myself for entrepreneurship at a young age.





When I was 12, I decided to teach myself HTML. I was blessed with two family members who had jobs at IBM and Apple, and being in a rural area, I was bored and nearly always on my computer.





Afterwards, if I could complete an assignment or test by building a website, I would (and ensure an easy A, the joys of a new technology and easily impressed teachers.)





When I was 15, a friend of mine was also into making fancy table-based websites, so we went down to our local print shop and created cheap thermographed business cards for our "business", Visual Web Design. We went from shop to shop in our local city and asked if business owners would like a website for $50, a large sum of money at the time for us. In the end,  we got a client, but being teenagers, we never ended up actually making a website for that one business





While my entrepreneurial beginnings didn't quite pan out, I entered college with a love for making websites and learning, and a drive to use that knowledge to support myself.





## Motivations





When I was 18, I was watching the specials that came along with the Lord of the Rings Fellowship of the Ring DVD—the behind-the-scenes footage that showed the cast and crew having an absolutely amazing time while filming.





I wrote a long essay on my online journal on how I never wanted to have a "typical life"—that I wanted a life filled with magic and love, that I didn't want to fall into the 2.3 children + mortgage + work the rest of your life until you retire life that I felt that most people naturally gravitated toward because that was what was "expected" of you. I wanted to travel the world (more than two weeks a year), make my own schedule, and honestly love what I was doing (because if you love what you do, you won't work a day in your life.) I wanted the life that I saw these actors and crew had when working on this movie.





## Awareness of mortality





My father passed away from melanoma a few days after I turned 22, and my mother passed away from alcoholism when I was 24. Having people so close to me die made me very aware of the fragility of life and how easily I could die before accomplishing all the things I want to do.





I almost fell into the worker-bee lifestyle that I supposedly dreaded in my first (and only) "real" job out of university, as the sole designer at a lead-gen online education startup. After four and a half years, I knew I didn't like what I was doing but the concept of leaving was frightening—it's incredibly hard to change your trajectory once you're on a certain path. Leaving was one of the hardest things (and scariest) things I did, which eventually led to freelancing, then to launching [WeddingLovely](http://weddinglovely.com).





## Today





Unlike a lot of entrepreneurs and entrepreneur-admirers, I am not doing this to change the world. Nice bonus, and I'd certainly love it if I did indeed change the world in a magnificent way, but it is by no means, #1 on my list of life goals. I feel this goal, while impressive, sets entrepreneurs up for immense amounts of stress which leads to burn-out—your startup might be meeting goals month-over-month, but could still be felt a failure since it isn't a world-changing company yet.





Nor is my primary motivation money. Again, nice bonus, and one that I am not currently enjoying yet. I turned down an acquisition offer for WeddingLovely because it didn't fit my primary motivation.





**What I want is personal freedom to do what I want to do.**





I live on on a $20,000/year salary because I can choose when and where I work. I can take the morning off and work late. I can work in the morning and take the evening off. I can travel for months at a time while working on my startup—like I did on a three month trip through Europe a few years ago, and planning to again this fall.





I'm happy to be bootstrapping, since it means I've continued to hold control over my company. I'm happy to build my company at my own rate, because while it's growing slowly (and probably would be growing faster with a huge influx of VC money), it's still growing. I can make decisions without worrying about a board disapproving.





Life is precious. Life is short. Looking back, While I don't have a comfortable lifestyle, I am doing something that makes me happier and gives me more freedom to live the life I want to live. I am happy. 
{% endfilter %}
{% endblock body %}
