date: 2019-08-07
featuredimage:
featured: True
author: Tracy Osborn
excerpt: Ever since I shut down WeddingLovely at the end of 2018 without much fanfare, I’ve received a lot of messages from folks asking why I shut down. It’s a reasonable question. After a few years of heavily promoting how awesome we were doing, and showcasing it as a successful side project that seemingly didn’t take up much of my time, it seems strange to outsiders to just turn off that flow of money.
title: Why I shut down WeddingLovely (or, the dangerous lure of barely profitable bootstrapped businesses)
external: 
category: entrepreneurship

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Ever since [I shut down WeddingLovely at the end of 2018](https://weddinglovely.com/blog/weddinglovely-has-shut-its-doors-thank-you-for-all-your-support-over-the-years/) without much fanfare, I’ve received a lot of messages from folks asking why I shut down.

![](/static/images/blog/shutdown/why.png)

![](/static/images/blog/shutdown/why2.png)

It’s a reasonable question. After a few years of heavily promoting how awesome we were doing, and showcasing it as a successful side project that seemingly didn’t take up much of my time, it seems strange to outsiders to just turn off that flow of money.

![From my Indie Hackers article about WeddingLovely.](/static/images/blog/shutdown/ih.png)
*<small>From my [Indie Hackers article about WeddingLovely](https://www.indiehackers.com/interview/failing-to-find-a-developer-and-building-the-product-myself-5029985845).</small>*

**Hindsight being 20/20, I should have shut down WeddingLovely in 2015. Or even 2012.** It wasn’t until it was off my plate that I realized just how much potential future opportunity it robbed from me. 

This brings me to the topic of bootstrapped and lifestyle businesses and what happens when the business is merely doing... okay. 

It's only now that I've moved on that I realized how much work I had put into WeddingLovely even when it was "running itself" and how the mere fact that I had WeddingLovely on my brain prevented me from looking at other opportunities. [I'm now the Program Manager at TinySeed](https://tracyosborn.com/articles/two-months-tinyseed/), a dream job, and had I not shut down WeddingLovely and let it continue to "run itself," I probably wouldn't have felt comfortable looking for a new job. In this alternate universe, I wouldn't have the job I love today.

Why did I shut down WeddingLovely, and why should I have done it earlier?

## A lifestyle business will never be completely hands-off.

Yay, I hired people to continue marketing WeddingLovely, freeing up my time to do other things!

**Except, the time given back to me was filled with other tasks.** Payroll. Taxes. Setting up Asana and project management. Answering questions. Asking questions. Filling in at random, unexpected times when my employee has an emergency. 

Personnel aside, there is also development upkeep. Needing to update the Python packages that my site used. Dealing with DDoS attacks. Updating and upgrading servers. A bug will pop up on a part of the site that hasn’t been updated in years and yet suddenly there’s an issue that requires attention.

**These interruptions prevented me from feeling like I could go full-time on other products or ideas**, leaving me working part-time on a lot of little things, which isn't very fun or productive.

## A business you’re ignoring won’t grow.

It would be lovely if we could build and release products into the world and walk away to let them grow on their own. **Unfortunately, without consistent time spent on marketing, it’s very unlikely (and near impossible) that your project will grow or even break-even.**

For extra income, folks (myself included) will often write books, as they seem like something that, once written, will consistently bring in extra revenue. An evergreen product. 

With my books (matching the experiences of other authors out there), the book will be released to some amount of fanfare, and then sales will slowly drop month over month until the book is essentially dead. Unless consistent time and effort is spent marketing the book after it was released.

This effect is magnified for less-evergreen products. Even while viral-components like referral programs, social sharing, etc. can help a product continue to bring in consistent revenue, without time spent on marketing and sharing your product, pretty much every product will slide into irrelevance. 

**With WeddingLovely, I gained businesses year over year through our freemium businesses, but the percentage of folks who moved to a paid account would only go up with effort and time spent on my end**, regardless of the systems we set in place to try to make it all happen automatically (drip email campaigns, automated reminders based off of events or time, social share asks, content marketing). 

I hired folks so WeddingLovely had just-enough hands-on effort on marketing, but **the years where I was personally engaged and growing the business were light years ahead of the years where I tried to be hands-off and just take advantage of the income.**

## It’s hard to think clearly about how a barely-profitable business is actually doing without a major negative event.

With WeddingLovely, I tried to diversify my revenue from multiple sources, but after about five years, the amount of income tipped towards affiliate revenue from our blog, mainly from a few articles (and one in particular) that reached the top of the search results for a few key queries in Google.

I knew this was a tenuous position to be in and that I couldn’t rely on that revenue to stick around forever (Google giveith, Google takeith away), but it still grew to be a significant portion of WeddingLovely’s revenue.

**And then the day I knew was coming happened** — our main article dropped in the results from #1 to #3-5, and our affiliate revenue nose-dived.

**Having a barely-profitable business means that there isn’t a lot of wiggle room in the bank. Ever.** And when this event happened, I now only had a few months of runway to pay my employees. I wasn’t being paid myself, and I had to decide in that moment whether it was worth me coming back to WeddingLovely full-time to right the ship (again… taking no income for myself), or **use this moment to finally reconsider how things are going and decide to shut things down.**

Without our revenue cratering like that, it was easy to ignore the bits and pieces of time I was losing over the months and years to WeddingLovely without a lot of benefit in return. It was easy enough to justify the time spent on administration and personnel since the business was, technically, profitable. **It took a fairly major event to be the catalyst for change, but honestly once the change was decided, I realized that it should have been done way earlier**.

## A middle-of-the-road business can rob you of future opportunities.

After shutting down WeddingLovely, I finally felt comfortable looking for a full-time job (with a lot of trepidation, mind you — after being largely self-employed for the last ten years, having a boss wasn’t exactly my cup of tea). 

Fast forward a few months, and I’ve landed as the Program Manager at [TinySeed](https://tinyseed.com). I love my job. 

I used to be in the mindset that a “real job” wasn’t for me — that I would plug along creating little projects and businesses that made money online, no boss, no manager, no schedule, and that’s what I would be doing for the rest of my life. **Turns out (of course) what I needed was to find a job like I have right now, that there is a dream job out there for me.**

Could I have discovered this five years ago? How different would my life look like now? I am incredibly thankful that the stars aligned, that I shut down my business when I did because if I didn’t, I wouldn’t have the job I have now. **Had I continued to plug away through 2019 on a barely-profitable business that wasn’t making me happy, that was just doing good enough, I wouldn’t be where I am now.**

## My recommendation: Pay attention to your metrics — both business and personal.

If I was to do WeddingLovely over again today, this is what I would do differently:

* **_Really_ track my metrics.** Dive into all the acronyms: ARR, MRR, ARPU, etc. I avoided tracking these because then it was easier to ignore the actual health of the business and just go by gut — but my gut hates change, so I would lie to myself and say things were going awesomely (without data to back it up), when things were doing middling-to-poorly.
* **Quarterly, track how I am feeling.** Am I enjoying myself? Is this something that brings me joy? I never was a “weddings” person myself (I actually skipped the whole wedding business myself and eloped in Vegas). So, I was working on a business in a field I wasn’t passionate about, not making much money myself, and had I really thought those things myself, I probably would have realized I needed to move on sooner.
* **Be excited about shutting things down and trying something new.** I let the fear of being a “failure” and wanting a good outcome from my time (an acquisition) overtake reason. I was afraid of the effort (and money) needed to shut down a corporation. I was afraid of the reaction from my customers, my investors, and my friends. Now that I’ve gone through it, ripped the band-aid off, I realized it’s not as painful as I thought it would be. Investors had already moved on. Customers were disappointed but had plenty of other newer and more exciting competitors to use. Friends were supportive. 

Working on and building WeddingLovely was such a transformative, educational part of my life. The lessons I learned from building that startup I will take with me to every future project and job. I wouldn't be where I am today without the experiences of WeddingLovely.

**That said, with those experiences came a lot of mistakes and lessons learned. Here's hoping that by nitpicking my experiences, I'll help you avoid the mistakes that I made.**

Want more? Recently I recorded a podcast on Rob Walling's podcast, [Startups For the Rest Of Us](https://www.startupsfortherestofus.com), where I further delved into my experiences with WeddingLovely, a near-acquisition with Etsy, and other stories from my time running the business. [Check it out here if you're interested in more.](https://www.startupsfortherestofus.com/episodes/episode-455-things-i-would-have-done-differently-with-tracy-osborn-of-weddinglovely)

<hr/>

_<small style="line-height:0">* WeddingLovely took two, very tiny rounds of money, but was essentially bootstrapped otherwise. I’ll speak about it here as if it was entirely bootstrapped.</small>_


{% endfilter %}
{% endblock body %}
