{% extends "base.html" %}

{% block title %}About Tracy Osborn{% endblock %}

{% block analytics %}
analytics.page("About");
{% endblock %}

{% block bodyclass %}
<body id="about">
{% endblock bodyclass %}

{% block subheader %}
<h2>loves to build websites and climb mountains.</h2>
{% endblock %}

{% block content %}

{% comment %}
<figure>
  <img src="{% static 'images/tracy-osborn.jpg' %}" alt="Tracy Osborn" />
  <figcaption>On stage at Fluent Conference 2016.</figcaption>
</figure>
{% endcomment %}

<figure>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gxasAxA8_Y0" frameborder="0" allowfullscreen></iframe>
  <figcaption>Interviewed by O'Reilly Media at Fluent Conference in March 2016.</figcaption>
</figure>

<p>Tracy Osborn is a designer, developer, author, and entreprenerd living in Toronto, Canada.</p>

<p>Tracy was born in California, taught herself how to build websites when she was 12, and holds a Bachelors of Fine Arts degree in Art &amp; Design.</p>

<p>In 2007, she taught herself how to program and launched <a href="http://weddinglovely.com">WeddingLovely</a>, which was accepted to <a href="http://500.co">500 Startup's</a> incubator in Fall 2011. She's also the author and designer of <a href="http://hellowebapp.com">Hello Web App</a>, a self-published book series on beginner web app development with Python and Django.</p>

<p>Today she's a part of the developer relations team at <a href="http://dreamfactory.com">DreamFactory</a>, an API automation platform. She speaks and gives workshops at conferences around the world about design, development, and entrepreneurship.</p>

<p>In her spare time, she is an avid outdoorswoman, spending as much time as possible hiking, climbing, rafting, mountaineering, surfing, and anything else outdoorsy.</p>
{% endblock content %}
