{% extends "base.html" %}

{% block title %}About Tracy Osborn{% endblock %}

{% block analytics %}
analytics.page("About");
{% endblock %}

{% block bodyclass %}
<body id="about">
{% endblock bodyclass %}

{% block subheader %}
<h2>loves to build websites and climb mountains.</h2>
{% include 'includes/social-links.html' %}
{% endblock %}

{% block content %}

{% comment %}
<figure>
  <img src="{% static 'images/tracy-osborn.jpg' %}" alt="Tracy Osborn" />
  <figcaption>On stage at Fluent Conference 2016.</figcaption>
</figure>
{% endcomment %}

<figure class="image">
  <img src="{% static 'images/tracy-osborn_atom-images.jpg' %}" alt="Tracy Osborn" />
    <figcaption>Photo taken at DjangoCon US 2017 by Adam Gregory of AtomImages</figcaption>
</figure>

<p><strong>I'm a designer, developer, author, and entreprenerd<br/>living in Toronto, Canada.</strong></p>

<p>Currently, I'm the Program Manager at <a href="https://tinyseed.com">TinySeed</a>, a remote year-long accelerator for bootstrapped businesses.</p>

<p>I'm originally from California &#8212; I grew up in Lake County (a rural area north of San Francisco), got a BFA in Art &amp; Design at Cal Poly San Luis Obispo, and worked for awhile in the Bay Area before moving to the great Canadian north (brrr.)</p>

<p>I love computers and have been building websites since I was 12 (on a 14.4k modem using frames, of course.)</p>

<p>In 2009, I taught myself how to program and launched <a href="http://weddinglovely.com">WeddingLovely</a>, which was accepted to <a href="http://500.co">500 Startup's</a> incubator in Fall 2011. I'm also the author and designer of <a href="http://hellowebapp.com">Hello Web App</a>, a self-published book series on beginner web app development with Python and Django. Currently, I'm working on a book to teach beginner design to non-designers called <a href="http://hellowebdesignbook.com">Hello Web Design</a>.</p>

<figure class="video">
    <iframe src="https://www.youtube.com/embed/gxasAxA8_Y0" frameborder="0" allowfullscreen></iframe>
    <figcaption>Interviewed by O'Reilly Media at Fluent Conference in March 2016.</figcaption>
</figure>

<p>When I'm not on a computer, I'm outside. I love running, hiking, backpacking, camping, rafting, and pretty much anything active outdoors. In 2014, I solo-hiked the John Muir Trail, a 210 mile backpacking trail in California.</p>

<p>♥</p>
{% endblock content %}
