{% extends "base.html" %}

{% block title %}About Tracy Osborn{% endblock %}

{% block analytics %}
analytics.page("About");
{% endblock %}

{% block bodyclass %}
<body id="about">
{% endblock bodyclass %}

{% block subheader %}
<h2>loves to build websites and climb mountains.</h2>
{% endblock %}

{% block content %}

{% comment %}
<figure>
  <img src="{% static 'images/tracy-osborn.jpg' %}" alt="Tracy Osborn" />
  <figcaption>On stage at Fluent Conference 2016.</figcaption>
</figure>
{% endcomment %}

<figure class="video">
    <iframe src="https://www.youtube.com/embed/gxasAxA8_Y0" frameborder="0" allowfullscreen></iframe>
    <figcaption>Interviewed by O'Reilly Media at Fluent Conference in March 2016.</figcaption>
</figure>

<p><strong>Tracy Osborn is a designer, developer, author, and entreprenerd living in Toronto, Canada.</strong></p>

<p>Tracy was born in California, taught herself how to build websites when she was 12, and holds a Bachelors of Fine Arts degree in Art &amp; Design.</p>

<p><strong>In 2007, she taught herself how to program and launched <a href="http://weddinglovely.com">WeddingLovely</a></strong>, which was accepted to <a href="http://500.co">500 Startup's</a> incubator in Fall 2011. <strong>She's also the author, designer, and publisher of <a href="http://hellowebapp.com">Hello Web App</a></strong>, a self-published book series on beginner web app development with Python and Django.</p>

<p>In her spare time, she is an avid outdoorswoman, spending as much time as possible hiking, climbing, rafting, mountaineering, surfing, and anything else outdoorsy.</p>
{% endblock content %}
