{% extends "base.html" %}

{% block title %}The Writing of Tracy Osborn{% endblock %}

{% block analytics %}
analytics.page("Articles");
{% endblock %}

{% block bodyclass %}
<body id="articles">
{% endblock bodyclass %}

{% block contentsize %}
<div class="col-lg-10 col-lg-offset-1">
{% endblock contentsize %}

{% block intro %}
<div class="intro">
    <h1><a href="{% url '/index.html' %}">Tracy Osborn</a></h1>
    <div class="subheader">
        <h2>loves to chat about entrepreneurship, teaching, design, development, and more.</h2>
    </div>
    {% include 'includes/blog-sidebar.html' %}
</div>
{% endblock intro %}

{% block content %}
{% comment %}<h1>Writing</h1>{% endcomment %}

<h3 class="sm-header">Most recent post</h3>
<ul class="list-unstyled blog-list">
    {% for post in posts %}
    {% if forloop.counter0 == 0 %}
        <li class="first-post">
            {% if post.featuredimage %}
            <div class="thumbnail">
                <a href="{{ post.page.link_url|cut:".html" }}">
                    <img src="{% static post.featuredimage %}" alt="{{ post.title }}" />
                </a>
            </div>
            {% endif %}
            <h2>
                {% if post.external %}
                <a href='{{ post.external }}'>{{ post.title }}</a>
                {% else %}
                <a href='{{ post.page.link_url|cut:".html" }}/'>{{ post.title }}</a>
                {% endif %}
                {% if post.external %} <i class="fa fa-external-link" style="color: #999; font-size: 1rem; padding-left: 5px;"></i>{% endif %}
            </h2>

            {% if post.headline %}
            <p>{{ post.headline }}</p>
            {% endif %}
            {% if post.excerpt %}
            <p class="excerpt">{{ post.excerpt }}</p>
            {% endif %}
            <p class="readmore"><a href="{{ post.page.link_url|cut:".html" }}/">Read more</a></p>
            <hr/>
        </li>
    {% endif %}
    {% endfor %}
</ul>
<hr />

<div class="row sub-categories">
    <div class="col-lg-4 col-md-6">
        <h3 class="sm-header"><a href="{% url '/entrepreneurship.html' %}">Entrepreneurship</a></h3>
        <ul class="list-unstyled">
        {% for post in posts %}
            {% if post.category == "entrepreneurship" %}
            <li class="hidden"><a href='{{ post.page.link_url|cut:".html" }}/'>
                {{ post.title }}
            </a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="col-lg-4 col-md-6">
        <h3 class="sm-header"><a href="{% url '/onspeaking.html' %}">Speaking</a></h3>
        <ul class="list-unstyled">
        {% for post in posts %}
            {% if post.category == "speaking" %}
            <li class="hidden"><a href='{{ post.page.link_url|cut:".html" }}/'>
                {{ post.title }}
            </a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="col-lg-4 col-md-6">
        <h3 class="sm-header"><a href="{% url '/howto.html' %}">Instructionals</a></h3>
        <ul class="list-unstyled">
        {% for post in posts %}
            {% if post.category == "instruction" %}
            <li class="hidden"><a href='{{ post.page.link_url|cut:".html" }}/'>
                {{ post.title }}
            </a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
<div class="row sub-categories">
    <div class="col-lg-4 col-md-6">
        <h3 class="sm-header"><a href="{% url '/personal.html' %}">Personal</a></h3>
        <ul class="list-unstyled">
        {% for post in posts %}
            {% if post.category == "personal" %}
            <li class="hidden"><a href='{{ post.page.link_url|cut:".html" }}/'>
                {{ post.title }}
            </a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="col-lg-4 col-md-6">
        <h3 class="sm-header"><a href="{% url '/design.html' %}">Design</a></h3>
        <ul class="list-unstyled">
        {% for post in posts %}
            {% if post.category == "design" %}
            <li class="hidden"><a href='{{ post.page.link_url|cut:".html" }}/'>
                {{ post.title }}
            </a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="col-lg-4 col-md-6">
        <h3 class="sm-header"><a href="{% url '/development.html' %}">Development</a></h3>
        <ul class="list-unstyled">
        {% for post in posts %}
            {% if post.category == "development" %}
            <li class="hidden"><a href='{{ post.page.link_url|cut:".html" }}/'>
                {{ post.title }}
            </a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    
</div>

<hr />
<h3 class="sm-header">All posts</h3>
<ul class="list-unstyled blog-list">
    {% for post in posts %}
    {% if forloop.counter0 != 0 and forloop.counter0 < 20 %}
    {% include 'includes/post-snippet.html' %}
    {% endif %}
    {% endfor %}
</ul>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script>
$(document).ready(function($){
    $('.sub-categories li:first-child').removeClass("hidden");
});
</script>
{% endblock scripts %}
