{% extends "base.html" %}

{% block title %}Contact Tracy Osborn{% endblock %}

{% block analytics %}
analytics.page("Contact");
{% endblock %}

{% block bodyclass %}
<body id="contact">
{% endblock bodyclass %}

{% block subheader %}
<h2>is one of those rare people that actually loves email (and will probably regret saying this later.)</h2>
{% endblock %}

{% block content %}
<h2>Work inquiries</h2>

<p>At the moment I am entirely too busy with my job and personal projects to take on any freelance design work, and unfortunately I also don't know any designers looking for work at the moment.</p>

<h2>Everything else!</h2>

<p>Ping me at <a href="mailto:tracy@limedaring.com">tracy@limedaring.com</a>, I'd love to hear from you!</p>
{% endblock content %}
