{% extends "base.html" %}

{% block title %}Tracy Osborn's Writing on Design{% endblock %}

{% block analytics %}
analytics.page("Design");
{% endblock %}

{% block bodyclass %}
<body id="">
{% endblock bodyclass %}

{% block intro %}
<div class="intro">
    <h1><a href="{% url '/index.html' %}">Tracy Osborn</a></h1>
    <div class="subheader">
        <h2>likes to make pretties and organize information.</h2>
        {% include 'includes/blog-sidebar.html' %}
    </div>
</div>
{% endblock intro %}

{% block content %}
<ul class="list-unstyled blog-list">
    {% for post in posts %}
    {% if "design" in post.category %}
    {% include 'includes/post-snippet.html' %}
    {% endif %}
    {% endfor %}
</ul>
{% endblock content %}
