{% extends "base.html" %}

{% block title %}Tracy Osborn's Writing on Entrepreneurship{% endblock %}

{% block analytics %}
analytics.page("Contact");
{% endblock %}

{% block bodyclass %}
<body id="contact">
{% endblock bodyclass %}

{% block intro %}
<div class="intro">
    <h1><a href="{% url '/index.html' %}">Tracy Osborn</a></h1>
    <div class="subheader">
        <h2>loves to build stuff others can use.</h2>
    </div>
    {% include 'includes/social-links.html' %}
    <div class="hidden-sm-down">
        {% include 'includes/blog-sidebar.html' %}
    </div>
</div>
{% endblock intro %}

{% block content %}
<ul class="list-unstyled blog-list">
    {% for post in posts %}
    {% if "entrepreneurship" in post.category %}
    {% include 'includes/post-snippet.html' %}
    {% endif %}
    {% endfor %}
</ul>
{% endblock content %}
