{% extends "base.html" %}

{% block analytics %}
analytics.page("Homepage");
{% endblock %}

{% block bodyclass %}
<body id="index">
{% endblock bodyclass %}

{% block contentsize %}
<div class="col-lg-8 col-lg-offset-2">
{% endblock contentsize %}

{% block intro %}
<div class="row intro">
    <h1 class="col-md-4">
        <a href="{% url '/index.html' %}">Tracy Osborn</a>
    </h1>
    <div class="subheader col-md-8">
        {% block subheader %}
        <h2>is an outdoorsy designer, developer, author, and entreprenerd living in Toronto, Ontario.</h2>
        {% endblock %}
    </div>
</div>
{% endblock intro %}

{% block content %}
<hr/>

<div class="row">
    <div class="col-md-4">
        <h3 class="sm-header"><a href="{% url '/work.html' %}">Projects</a></h3>
        <a href="{% url '/work.html' %}">
            <img src="/static/images/blog/hwa-books.jpg" alt="Hello Web App series" />
        </a>

        <div class="index-contact">
            <h3 class="sm-header"><a href="{% url '/contact.html' %}">Contact Me</a></h3>
            <ul class="list-inline social-media">
                <li><a href="//twitter.com/hellowebapp"><i class="fa fa-twitter"></i></a></li>
                <li><a href="//facebook.com/hellowebapp"><i class="fa fa-facebook"></i></a></li>
                <li><a href="//github.com/hellowebapp"><i class="fa fa-github"></i></a></li>
                <li><a href="mailto:tracy@limedaring.com"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="recent-writing">
            <h3 class="sm-header"><a href="{% url '/articles.html' %}">Recent Writing</a></h3>
            <ul class="list-unstyled">
                <!-- XXX Need to hide all posts past one featured post -->
                {% for post in posts %}
                {% if post.featured == "True" %}
                <li>
                    <h4>
                        <a href='{{ post.page.link_url|cut:".html" }}/'>{{ post.title }}</a>
                    </h4>
                    <p>{{ post.excerpt|truncatewords:40 }}</p>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="recent-speaking">
            <h3 class="sm-header"><a href="{% url '/speaking.html' %}">Upcoming Speaking Engagements</a></h3>
            <ul class="list-unstyled">
                <li>
                    <span class="date">4/3/17</span>
                    <h4>DjangoCon Europe</h4>
                    <span class="location">Florence, Italy</span>
                </li>
                <li>
                    <span class="date">5/24/17</span>
                    <h4>PHP[Tek]</h4>
                    <span class="location">Atlanta, Georgia</span>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
