{% extends "base.html" %}

{% block title %}Tracy Osborn's Public Speaking{% endblock %}

{% block analytics %}
analytics.page("Speaking");
{% endblock %}

{% block bodyclass %}
<body id="speaking">
{% endblock bodyclass %}

{% block intro %}
<div class="intro">
    <h1><a href="{% url '/index.html' %}">Tracy Osborn</a></h1>
    <div class="subheader">
        <h2>travels around the world speaking at conferences and giving workshops.</h2>
    </div>

    <div class="hidden-sm-down">
        <h2 class="intro-cats">Featured speaking videos</h2>
        <ul class="list-unstyled categories">
            <li><a href="https://www.youtube.com/watch?v=UKxIswJSlIY">PyCon Canada</a></li>
            <li><a href="https://www.youtube.com/watch?v=lsPrhA_m6ss">Mozilla's View Source</a></li>
            <li><a href="https://www.youtube.com/watch?v=F7UWtXHy7tA">PyCaribbean 2017</a></li>
            <li><a href="https://www.youtube.com/watch?v=8LiV759Bje0">Write the Docs NA 2016</a></li>
            <li><a href="https://www.youtube.com/watch?v=2Ki8e2owcGg">Fluent Conference 2016</a></li>
            <li><a href="https://www.youtube.com/watch?v=oNN0EjJ6o90">ELA Conf 2015</a></li>
        </ul>

        <h2 class="intro-cats">Recent podcast spots</h2>
        <ul class="list-unstyled categories">
            <li><a href="http://devhell.info/post/2016-05-24/escaping-to-the-canadian-hellscape/">/dev/hell</a></li>
            <li><a href="http://www.mistakes.show/episode/170-mike-hates-teal">Let's Make Mistakes</a></li>
            <li><a href="http://softwareengineeringdaily.com/2016/02/18/design-non-designers-tracy-osborn/">Software Engineering Daily</a></li>
            <li><a href="http://startmadnessup.com/tracyosborn/">Startup Madness</a></li>
            <li><a href="http://www.productpeople.tv/2015/09/21/ep73-tracy-osborn">Product People</a></li>
            <li><a href="http://weddinglovely.com/blog/wp-login.php?redirect_to=http%3A%2F%2Fweddinglovely.com%2Fblog%2Fwp-admin%2F&reauth=1">Podcast __init__</a></li>
            <li><a href="http://www.chasingproduct.com/episodes/episode-24-learning-go-wtracy-osborn">Chasing Product</a></li>
            <li><a href="http://5by5.tv/bigwebshow/17">The Big Web Show</a></li>
            <li><a href="http://www.entrepreneuronfire.com/podcast/tracy-osborn-interview-of-weddinglovely-with-john-lee-dumas-of-entrepreneur-on-fire/">Entrepreneur-on-Fire</a></li>
            <li><a href="http://topknotcreative.com/talk/tracy-osborn/">TopKnot Creative</a></li>
        </ul>
    </div>
</div>
{% endblock intro %}

{% block content %}

<figure>
  <img src="{% static 'images/speaking.jpg' %}" alt="Tracy Osborn speaking at Write the Docs" />
  <figcaption>On stage at Write The Docs North America 2016.</figcaption>
</figure>

<p>I speak at conferences around the world on design, development, entrepreneurship, and more. Most notably, I was a keynote speaker at <a href="https://www.youtube.com/watch?v=IyHTYmSYJz8">O'Reilly's Fluent Conference in early 2016</a>.</p>

<h2>Upcoming speaking engagements:</h2>

<ul class="list-unstyled speaking-list">
    <li>
        <h3><a href="https://2017.djangocon.eu/">DjangoCon Europe</a></h3>
        <p class="date">April 3-7, 2017</p>
        <p class="location">Florence, Italy</p>
        <p>I'll be giving my Marketing for Developers talk.</p>
    </li>
    <li>
        <h3><a href="http://peersconf.com//">PeersConf</a></h3>
        <p class="date">April 26-28, 2017</p>
        <p class="location">Seattle, WA</p>
        <p>I'll be giving my Marketing for Developers talk again!</p>
    </li>
    <li>
        <h3><a href="https://tek.phparch.com/?paref=to3a90&utm_campaign=to3a90">PHP[Tek]</a></h3>
        <p class="date">May 24-26, 2017</p>
        <p class="location">Atlanta, Georgia</p>
        <p>I'm giving my Design for Non-Designers talk *and* my Marketing for Developers talk!</p>
    </li>
</ul>

<h2>Past speaking engagements:</h2>

<ul class="list-unstyled speaking-list">
    <li>
        <h3><a href="http://pycaribbean.com/">PyCaribbean</a></h3>
        <p class="date">February 18-19, 2017</p>
        <p class="location">San Juan, Puerto Rico</p>
    </li>
    <li>
        <h3><a href="https://www.meetup.com/PyLadies-Toronto/events/237110133/">PyLadies Toronto</a></h3>
        <p class="date">February 17, 2017</p>
        <p class="location">Toronto, Canada</p>
    </li>
    <li>
        <h3><a href="https://stripe.com/events/design-for-non-designers">Stripe</a></h3>
        <p class="date">February 9, 2017</p>
        <p class="location">San Francisco, California</p>
        <p>I'm giving my Design for Non-Designers presentation at a public evening event held at Stripe. <a href="https://stripe.com/events/design-for-non-designers">RSVP here.</a></p>

    </li>
    <li>
        <h3><a href="https://nodeconf.risingstack.com">NodeConf Budapest</a></h3>
        <p class="date">January 20, 2017</p>
        <p class="location">Budapest, Hungary</p>
    </li>
    <li>
        <h3><a href="http://2017.cusec.net/">CUSEC 17</a></h3>
        <p class="date">January 12-14, 2017</p>
        <p class="location">Montreal, Canada</p>
    </li>
    <li>
        <h3><a href="https://2016.nodeconf.com.ar">NodeConf Argentina</a></h3>
        <p class="date">November 17-19, 2016</p>
        <p class="location">Buenos Aires, Argentina</p>
    </li>
    <li>
        <h3><a href="https://2016.pycon.ca/en/">PyCon Canada</a></h3>
        <p class="date">November 12-13, 2016</p>
        <p class="location">Toronto, Canada</p>
    </li>
    <li>
        <h3><a href="https://allthingsopen.org/speakers/tracy-osborn/">All Things Open</a></h3>
        <p class="date">October 26-27, 2016</p>
        <p class="location">Raleigh, NC</p>
    </li>
    <li>
        <h3><a href="http://conferences.oreilly.com/oscon/open-source-eu">OSCON London</a></h3>
        <p class="date">October 17-20, 2016</p>
        <p class="location">London, England</p>
    </li>
    <li>
        <h3><a href="https://viewsourceconf.org/berlin-2016/">View Source Conference</a></h3>
        <p class="date">September 12-14, 2016</p>
        <p class="location">Berlin, Germany</p>
    </li>
    <li>
        <h3><a href="http://www.devopsdays.org/events/2016-boston/program/tracy-osborn/">DevOpsDay Boston</a></h3>
        <p class="date">August 25-26, 2016</p>
        <p class="location">Boston, MA</p>
    </li>
    <li>
        <h3><a href="http://abstractions.io/schedule/#session-full-105">Abstractions</a></h3>
        <p class="date">August 18-20, 2016</p>
        <p class="location">Pittsburgh, PA</p>
    </li>
    <li>
        <h3><a href="https://2016.djangocon.us/schedule/presentation/8/">DjangoCon US</a></h3>
        <p class="date">July 26-27, 2016</p>
        <p class="location">Philadelphia, PA</p>
    </li>
    <li>
        <h3><a href="https://2016.pygotham.org/talks/242/design-for-non-designers/">PyGotham</a></h3>
        <p class="date">July 18-19, 2016</p>
        <p class="location">New York City, NY</p>
    </li>
  <li>
        <h3><a href="http://codeconf.com/speakers/tracy-osborn.html">GitHub CodeConf</a></h3>
        <p class="date">June 26-27, 2016</p>
        <p class="location">Los Angeles, CA</p>
    </li>
    
    

</ul>



<div class="hidden-md-up">
    <h2 class="intro-cats">Featured speaking videos</h2>
    <ul class="list-unstyled categories">
        <li><a href="https://www.youtube.com/watch?v=uKpfO331DY4">PyCon 2016</a></li>
        <li><a href="https://www.youtube.com/watch?v=8LiV759Bje0">Write the Docs NA 2016</a></li>
        <li><a href="https://www.youtube.com/watch?v=2Ki8e2owcGg">Fluent Conference 2016</a></li>
        <li><a href="https://www.youtube.com/watch?v=oNN0EjJ6o90">ELA Conf 2015</a></li>
    </ul>

    <h2 class="intro-cats">Recent podcast spots</h2>
    <ul class="list-unstyled categories">
        <li><a href="http://devhell.info/post/2016-05-24/escaping-to-the-canadian-hellscape/">/dev/hell</a></li>
        <li><a href="http://www.mistakes.show/episode/170-mike-hates-teal">Let's Make Mistakes</a></li>
        <li><a href="http://softwareengineeringdaily.com/2016/02/18/design-non-designers-tracy-osborn/">Software Engineering Daily</a></li>
        <li><a href="http://startmadnessup.com/tracyosborn/">Startup Madness</a></li>
        <li><a href="http://www.productpeople.tv/2015/09/21/ep73-tracy-osborn">Product People</a></li>
        <li><a href="http://weddinglovely.com/blog/wp-login.php?redirect_to=http%3A%2F%2Fweddinglovely.com%2Fblog%2Fwp-admin%2F&reauth=1">Podcast __init__</a></li>
        <li><a href="http://www.chasingproduct.com/episodes/episode-24-learning-go-wtracy-osborn">Chasing Product</a></li>
        <li><a href="http://5by5.tv/bigwebshow/17">The Big Web Show</a></li>
        <li><a href="http://www.entrepreneuronfire.com/podcast/tracy-osborn-interview-of-weddinglovely-with-john-lee-dumas-of-entrepreneur-on-fire/">Entrepreneur-on-Fire</a></li>
        <li><a href="http://topknotcreative.com/talk/tracy-osborn/">TopKnot Creative</a></li>
    </ul>
</div>

{% endblock content %}
