{% extends "base.html" %}

{% block title %}Tracy Osborn's Public Speaking{% endblock %}

{% block analytics %}
analytics.page("Speaking");
{% endblock %}

{% block bodyclass %}
<body id="speaking">
{% endblock bodyclass %}

{% block intro %}
<div class="intro">
    <h1><a href="{% url '/index.html' %}">Tracy Osborn</a></h1>
    <div class="subheader">
        <h2>travels around the world speaking at conferences and giving workshops.</h2>
    </div>

    {% include 'includes/social-links.html' %}

    <div class="hidden-sm-down">
        <h2 class="intro-cats">Featured speaking videos</h2>
        <ul class="list-unstyled categories">
            <li><a href="https://www.youtube.com/watch?v=UKxIswJSlIY">PyCon Canada</a></li>
            <li><a href="https://www.youtube.com/watch?v=lsPrhA_m6ss">Mozilla's View Source</a></li>
            <li><a href="https://www.youtube.com/watch?v=F7UWtXHy7tA">PyCaribbean 2017</a></li>
            <li><a href="https://www.youtube.com/watch?v=8LiV759Bje0">Write the Docs NA 2016</a></li>
            <li><a href="https://www.youtube.com/watch?v=2Ki8e2owcGg">Fluent Conference 2016</a></li>
            <li><a href="https://www.youtube.com/watch?v=oNN0EjJ6o90">ELA Conf 2015</a></li>
        </ul>

        <h2 class="intro-cats">Recent podcast spots</h2>
        <ul class="list-unstyled categories">
            <li><a href="https://www.betonyourself.com/podcast/episode-34-tracy-osborn">Indiedotes</a></li>
            <li><a href="http://giantrobots.fm/265">Giant Robots</a></li>
            <li><a href="https://leanpub.com/podcasts/frontmatter/tracy-osborn-30-11-17">Front Matter</a></li>
            <li><a href="https://www.indiehackers.com/podcast/029-tracy-osborn-of-hello-web-design">Indie Hackers</a></li>
            <li><a href="https://startingandsustaining.com/tracy-osborn-founder-of-wedding-lovely-e03dfabb34ea?gi=7469f53a63b5">Starting &amp; Sustaining</a></li>
            <li><a href="https://ctrlclickcast.com/episodes/funding-maintaining-startups">CTRL+CLICK CAST</a></li>
            <li><a href="http://devhell.info/post/2016-05-24/escaping-to-the-canadian-hellscape/">/dev/hell</a></li>
            <li><a href="http://www.mistakes.show/episode/170-mike-hates-teal">Let's Make Mistakes</a></li>
            <li><a href="http://softwareengineeringdaily.com/2016/02/18/design-non-designers-tracy-osborn/">Software Engineering Daily</a></li>
            <li><a href="http://www.productpeople.tv/74">Product People</a></li>
            <li><a href="https://www.podcastinit.com/episode-11-naomi-ceder-lynn-root-and-tracy-osborn-on-diversity-in-the-python-community/">Podcast __init__</a></li>
            <li><a href="http://www.chasingproduct.com/episodes/episode-24-learning-go-wtracy-osborn">Chasing Product</a></li>
            <li><a href="http://5by5.tv/bigwebshow/17">The Big Web Show</a></li>
            <li><a href="http://www.entrepreneuronfire.com/podcast/tracy-osborn-interview-of-weddinglovely-with-john-lee-dumas-of-entrepreneur-on-fire/">Entrepreneur-on-Fire</a></li>
            <li><a href="http://topknotcreative.com/talk/tracy-osborn/">TopKnot Creative</a></li>
        </ul>
    </div>
</div>
{% endblock intro %}

{% block content %}

<figure>
  <img src="{% static 'images/tracy-osborn.jpg' %}" alt="Tracy Osborn speaking at Fluent 2016" />
  <figcaption>Speaking at O'Reilly's Fluent Conference 2016.</figcaption>
</figure>

<p>I speak at and keynote conferences around the world on design, development, and entrepreneurship. Recently, I was a keynote speaker at <a href="http://blog.europython.eu/post/160260609207/europython-2017-keynote-tracy-osborn">EuroPython</a> in July 2017.</p>

<p><strong>I'd love to speak at your event!</strong> Send me an email anytime to <a href="mailto:tracy@limedaring.com">tracy@limedaring.com</a>.</p>

<h2>Upcoming speaking engagements</h2>

<ul class="list-unstyled speaking-list">
    <li>
        <h3><a href="https://addconf.com/2018/">App Design and Development Conference</a></h3>
        <p class="date">July 5-6, 2018</p>
        <p class="location">Barcelona, Spain</p>
    </li>
    <li>
        <h3><a href="https://2018.pycon-au.org/">PyCon AU</a></h3>
        <p class="date">August 24-26, 2018</p>
        <p class="location">Sydney, Australia</p>
    </li>
</ul>

<h2>Past speaking engagements</h2>

<h4 style="margin-bottom: -0.5em; font-size: 1.1rem; color: #999;">2018</h4>
<ul class="list-unstyled speaking-list">
    <li>
        <h3><a href="https://beyondtellerrand.com/events/duesseldorf-2018/speakers/tracy-osborn">Beyond Tellerand</a></h3>
        <p class="date">May 7-9, 2018</p>
        <p class="location">Dusseldorf, Germany</p>
    </li>
      <li>
        <h3><a href="https://www.meetup.com/lean-product/">Lean Product</a></h3>
        <p class="date">April 19, 2018</p>
        <p class="location">Mountain View, CA</p>
    </li>
    <li>
      <h3><a href="https://www.elastic.co/elasticon/conf/2018/sf">Elastic{ON}</a></h3>
        <p class="date">February 28, 2018</p>
        <p class="location">San Francisco, CA</p>
    </li>
</ul>

<h4 style="margin-top: 2em; font-size: 1.1rem; color: #999;">2017</h4>
<ul class="list-unstyled speaking-list old-speaking-list">
    <li>
        <h3><a href="https://www.codeeurope.pl/en/speakers/tracy-osborn">Code Europe</a></h3>
        <p class="date">December 5-7, 2017</p>
        <p class="location">Krakow and Warsaw, Poland</p>
    </li>
    <li>
        <h3><a href="http://pyconie17.python.ie/">PyCon Ireland</a></h3>
        <p class="date">October 21-22, 2017</p>
        <p class="location">Dublin, Ireland</p>
    </li>
    <li>
        <h3><a href="https://2017.releasenotes.tv/">Release Notes</a></h3>
        <p class="date">October 16-18, 2017</p>
        <p class="location">Chicago, Illinois</p>
    </li>
    <li>
        <h3><a href="http://pyss17.pyss.org/">Python San Sebastian</a></h3>
        <p class="date">October 6-8, 2017</p>
        <p class="location">San Sebastian, Spain</p>
    </li>
    <li>
        <h3><a href="http://fitc.ca/speaker/tracy-osborn/?event=22414">Web Unleashed</a></h3>
        <p class="date">September 25-26, 2017</p>
        <p class="location">Toronto, Ontario</p>
    </li>
    <li>
        <h3><a href="https://2017.djangocon.us/news/keynote-announcement/">DjangoCon US</a></h3>
        <p class="date">August 13-18, 2017</p>
        <p class="location">Spokane, Washington</p>
    </li>
    <li>
        <h3><a href="http://blog.europython.eu/post/160260609207/europython-2017-keynote-tracy-osborn">EuroPython</a></h3>
        <p class="date">July 9-16, 2017</p>
        <p class="location">Rimini, Italy</p>
    </li>
    <li>
        <h3><a href="https://tek.phparch.com/?paref=to3a90&utm_campaign=to3a90">PHP[Tek]</a></h3>
        <p class="date">May 24-26, 2017</p>
        <p class="location">Atlanta, Georgia</p>
    </li>
    <li>
        <h3><a href="http://peersconf.com//">PeersConf</a></h3>
        <p class="date">April 26-28, 2017</p>
        <p class="location">Seattle, WA</p>
    </li>
    <li>
        <h3><a href="https://2017.djangocon.eu/">DjangoCon Europe</a></h3>
        <p class="date">April 3-7, 2017</p>
        <p class="location">Florence, Italy</p>
    </li>
    <li>
        <h3><a href="http://pycaribbean.com/">PyCaribbean</a></h3>
        <p class="date">February 18-19, 2017</p>
        <p class="location">San Juan, Puerto Rico</p>
    </li>
    <li>
        <h3><a href="https://www.meetup.com/PyLadies-Toronto/events/237110133/">PyLadies Toronto</a></h3>
        <p class="date">February 17, 2017</p>
        <p class="location">Toronto, Canada</p>
    </li>
    <li>
        <h3><a href="https://stripe.com/events/design-for-non-designers">Stripe</a></h3>
        <p class="date">February 9, 2017</p>
        <p class="location">San Francisco, California</p>
    </li>
    <li>
        <h3><a href="https://nodeconf.risingstack.com">NodeConf Budapest</a></h3>
        <p class="date">January 20, 2017</p>
        <p class="location">Budapest, Hungary</p>
    </li>
    <li>
        <h3><a href="http://2017.cusec.net/">CUSEC 17</a></h3>
        <p class="date">January 12-14, 2017</p>
        <p class="location">Montreal, Canada</p>
    </li>
</ul>

<h4 style="margin-top: 2em; font-size: 1.1rem; color: #999;">2016</h4>
<ul class="list-unstyled speaking-list old-speaking-list">
    <li>
        <h3><a href="https://2016.nodeconf.com.ar">NodeConf Argentina</a></h3>
        <p class="date">November 17-19, 2016</p>
        <p class="location">Buenos Aires, Argentina</p>
    </li>
    <li>
        <h3><a href="https://2016.pycon.ca/en/">PyCon Canada</a></h3>
        <p class="date">November 12-13, 2016</p>
        <p class="location">Toronto, Canada</p>
    </li>
    <li>
        <h3><a href="https://allthingsopen.org/speakers/tracy-osborn/">All Things Open</a></h3>
        <p class="date">October 26-27, 2016</p>
        <p class="location">Raleigh, NC</p>
    </li>
    <li>
        <h3><a href="http://conferences.oreilly.com/oscon/open-source-eu">OSCON London</a></h3>
        <p class="date">October 17-20, 2016</p>
        <p class="location">London, England</p>
    </li>
    <li>
        <h3><a href="https://viewsourceconf.org/berlin-2016/">View Source Conference</a></h3>
        <p class="date">September 12-14, 2016</p>
        <p class="location">Berlin, Germany</p>
    </li>
    <li>
        <h3><a href="http://www.devopsdays.org/events/2016-boston/program/tracy-osborn/">DevOpsDay Boston</a></h3>
        <p class="date">August 25-26, 2016</p>
        <p class="location">Boston, MA</p>
    </li>
    <li>
        <h3><a href="http://abstractions.io/schedule/#session-full-105">Abstractions</a></h3>
        <p class="date">August 18-20, 2016</p>
        <p class="location">Pittsburgh, PA</p>
    </li>
    <li>
        <h3><a href="https://2016.djangocon.us/schedule/presentation/8/">DjangoCon US</a></h3>
        <p class="date">July 26-27, 2016</p>
        <p class="location">Philadelphia, PA</p>
    </li>
    <li>
        <h3><a href="https://2016.pygotham.org/talks/242/design-for-non-designers/">PyGotham</a></h3>
        <p class="date">July 18-19, 2016</p>
        <p class="location">New York City, NY</p>
    </li>
    <li>
        <h3><a href="http://codeconf.com/speakers/tracy-osborn.html">GitHub CodeConf</a></h3>
        <p class="date">June 26-27, 2016</p>
        <p class="location">Los Angeles, CA</p>
    </li>
    <li>
        <h3><a href="https://us.pycon.org/2016/speaker/profile/386/">PyCon 2016</a></h3>
        <p class="date">May 28-June 5, 2016</p>
        <p class="location">Portland, OR</p>
    </li>
    <li>
        <h3><a href="http://www.writethedocs.org/conf/na/2016/speakers/">Write the Docs North America</a></h3>
        <p class="date">May 22-24, 2016</p>
        <p class="location">Portland, OR</p>
    </li>
    <li>
        <h3><a href="http://selfconference.org/events/2/schedule">Self.conference 2016</a></h3>
        <p class="date">May 20-21, 2016</p>
        <p class="location">Detroit, MI</p>
    </li>
    <li>
        <h3><a href="http://webdevcon.com/">WebDevCon 2016</a></h3>
        <p class="date">April 21, 2016</p>
        <p class="location">Seattle, WA</p>
    </li>
    <li>
        <h3><a href="http://www.microconf.com/growth/past-videos/">MicroConf 2016</a></h3>
        <p class="date">April 3-6, 2016</p>
        <p class="location">Las Vegas, NV</p>
    </li>
    <li>
        <h3><a href="https://conferences.oreilly.com/fluent/fl-ca-2016/public/schedule/speaker/215734">O'Reilly Fluent Conference 2016</a></h3>
        <p class="date">March 7-10, 2016</p>
        <p class="location">San Francisco, CA</p>
    </li>
    <li>
        <h3><a href="https://pytennessee.tumblr.com/post/137826306263/pytn-profiles-tracy-osborn-limedaring-and">PyTennessee</a></h3>
        <p class="date">February 6-7, 2016</p>
        <p class="location">Nashville, TN</p>
    </li>
</ul>



<div class="hidden-md-up">
    <h2 class="intro-cats">Featured speaking videos</h2>
    <ul class="list-unstyled categories">
        <li><a href="https://www.youtube.com/watch?v=uKpfO331DY4">PyCon 2016</a></li>
        <li><a href="https://www.youtube.com/watch?v=8LiV759Bje0">Write the Docs NA 2016</a></li>
        <li><a href="https://www.youtube.com/watch?v=2Ki8e2owcGg">Fluent Conference 2016</a></li>
        <li><a href="https://www.youtube.com/watch?v=oNN0EjJ6o90">ELA Conf 2015</a></li>
    </ul>

    <h2 class="intro-cats">Recent podcast spots</h2>
    <ul class="list-unstyled categories">
        <li><a href="http://devhell.info/post/2016-05-24/escaping-to-the-canadian-hellscape/">/dev/hell</a></li>
        <li><a href="http://www.mistakes.show/episode/170-mike-hates-teal">Let's Make Mistakes</a></li>
        <li><a href="http://softwareengineeringdaily.com/2016/02/18/design-non-designers-tracy-osborn/">Software Engineering Daily</a></li>
        <li><a href="http://startmadnessup.com/tracyosborn/">Startup Madness</a></li>
        <li><a href="http://www.productpeople.tv/2015/09/21/ep73-tracy-osborn">Product People</a></li>
        <li><a href="http://weddinglovely.com/blog/wp-login.php?redirect_to=http%3A%2F%2Fweddinglovely.com%2Fblog%2Fwp-admin%2F&reauth=1">Podcast __init__</a></li>
        <li><a href="http://www.chasingproduct.com/episodes/episode-24-learning-go-wtracy-osborn">Chasing Product</a></li>
        <li><a href="http://5by5.tv/bigwebshow/17">The Big Web Show</a></li>
        <li><a href="http://www.entrepreneuronfire.com/podcast/tracy-osborn-interview-of-weddinglovely-with-john-lee-dumas-of-entrepreneur-on-fire/">Entrepreneur-on-Fire</a></li>
        <li><a href="http://topknotcreative.com/talk/tracy-osborn/">TopKnot Creative</a></li>
    </ul>
</div>

{% endblock content %}
