{% extends "base.html" %}

{% block title %}Tracy Osborn's Public Speaking{% endblock %}

{% block analytics %}
analytics.page("Speaking");
{% endblock %}

{% block bodyclass %}
<body id="speaking">
{% endblock bodyclass %}

{% block subheader %}
<h2>travels around the world speaking at conferences and giving workshops.</h2>
{% endblock %}

{% block content %}

<figure>
  <img src="{% static 'images/speaking.jpg' %}" alt="Tracy Osborn speaking at Write the Docs" />
  <figcaption>On stage at Write The Docs North America 2016.</figcaption>
</figure>

<p>Tracy Osborn speaks at conferences around the world on design, development, entrepreneurship, and more.</p>

<p>Most notably, she was a keynote speaker at <a href="https://www.youtube.com/watch?v=IyHTYmSYJz8">O'Reilly's Fluent Conference in early 2016</a>.</p>

<h2>Upcoming speaking engagements:</h2>

<table>
    <thead>
        <tr>
            <th>Venue</th>
            <th>Topic</th>
            <th>Location</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="">GitHub CodeConf</a></td>
            <td><a href="">Design for Non-Designers</a></td>
            <td>Los Angeles, CA</td>
            <td>June 26-27, 2016</td>
        </tr>
        <tr>
            <td><a href="">PyGotham</a></td>
            <td><a href="">Design for Non-Designers</a></td>
            <td>New York City, NY</td>
            <td>July 18-19, 2016</td>
        </tr>
        <tr>
            <td><a href="">DjangoCon US</a></td>
            <td><a href="">Design for Non-Designers talk and Hello Web App Workshop</a></td>
            <td>Philadelphia, PA</td>
            <td>July 26-27, 2016</td>
        </tr>
    </tbody>
</table>
{% endblock content %}
