{% extends "base.html" %}

{% block title %}Tracy Osborn - Work{% endblock %}

{% block analytics %}
analytics.page("Work");
{% endblock %}

{% block bodyclass %}
<body id="work">
{% endblock bodyclass %}

{% block intro %}
<div class="intro">
    <h1><a href="{% url '/index.html' %}">Tracy Osborn</a></h1>
    <div class="subheader">
        <h2>loves building websites, creating web apps, and working on fun side-projects.</h2>
    </div>

    <div class="hidden-sm-down">
        <h2 class="intro-cats">Support my work</h2>
        <ul class="list-unstyled categories">
            <li><a href="https://www.patreon.com/tracyosborn">Patreon</a></li>
        </ul>
        <h2 class="intro-cats">Featured press mentions</h2>
        <ul class="list-unstyled categories">
            <li><a href="http://www.businessinsider.com/14-super-busy-startup-founders-share-their-single-best-productivity-tip-2016-8">Business Insider</a></li>
            <li><a href="https://www.indiehackers.com/businesses/weddinglovely">Indie Hackers</a></li>
            <li><a href="https://www.inc.com/magazine/201207/jj-mccorvey/weddinglovely-helps-couples-plan-elevator-pitch.html">Inc. Magazine</a></li>
            
        </ul>
    </div>
</div>
{% endblock intro %}

{% block content %}

<p><strong>I like building stuff.</strong></p>

<p>My background, in a nutshell: My background is in design (BFA Art &amp; Design from Cal Poly SLO), and I've been building websites since I was 11. My first job was leading design and front-end development for a startup,then I freelanced, then I taught myself Python, launched my own startup, then wrote a couple books on beginner web app development.</p>

<p>My main project:</p>

<h3>Hello Web Books</h3>

<a href="https://hellowebbooks.com">
    <img src="/static/images/blog/hwd-book.jpg" alt="Hello Web Books series" />
</a>

<p><b>The newest book in the series, <a href="https://hellowebbooks.com/learn-design"><i>Hello Web Design</i></a> teaches web design fundamentals and shortcuts aimed at programmers, developers, and non-designers.</b> Released on November 7th, 2017.</p>


<p><strong><a href="https://hellowebbooks.com"><i>Hello Web App</i></a> is a series of two books teaching programming through web app development</strong> with Django &#8212; the same path I used to teach myself programming. <i>Hello Web App</i> is a tutorial introducing the Python framework Django and walking readers through building and launching a basic web app.</p>

<p><i>Hello Web App: Intermediate Concepts</i> teaches more advanced skills and features like adding customer payments, an API, and database design.</p>

<!--
<h3>WeddingLovely</h3>

<a href="https://weddinglovely.com">
    <img src="/static/images/blog/weddinglovely.jpeg" alt="WeddingLovely" />
</a>

<p>I built <a href="https://weddinglovely.com">WeddingLovely</a> to teach myself how to code, and it grew into a startup. I was accepted into the <a href="http://designerfund.com">Designer Fund</a> and <a href="http://500.co">500 Startups</a> in 2011 and raised two very small rounds of funding.</p>

<p><strong>WeddingLovely walks customers through planning their wedding and connects them with local and small business wedding vendors.</strong> Today WeddingLovely (and all eleven WeddingLovely web properties) largely run themselves and I act mostly in an advisory position.</p>
-->

<div class="hidden-md-up">
    <h2 class="intro-cats">Support my work</h2>
    <ul class="list-unstyled categories">
        <li><a href="https://www.patreon.com/tracyosborn">Patreon</a></li>
    </ul>

    <h2 class="intro-cats">Featured press mentions</h2>
    <ul class="list-unstyled categories">
        <li><a href="http://www.businessinsider.com/14-super-busy-startup-founders-share-their-single-best-productivity-tip-2016-8">Business Insider</a></li>
        <li><a href="https://www.indiehackers.com/businesses/weddinglovely">Indie Hackers</a></li>
        <li><a href="https://www.inc.com/magazine/201207/jj-mccorvey/weddinglovely-helps-couples-plan-elevator-pitch.html">Inc. Magazine</a></li>
    </ul>
</div>

{% endblock content %}
