{% extends "base.html" %}

{% block title %}{{ title }} - {{ block.super }}{% endblock title %}

{% block bodyclass %}
<body id="post" class="{{ title|slugify }}">
{% endblock %}

{% block contentsize %}
<div class="col-lg-12">
{% endblock contentsize %}

{% block content %}

<article class="post">
    <header>
        <h1>{{ title }}</h1>
        <h2 class="headline">{{ headline }}</h2>
    </header>

    <section class="post-body">
        {% block body %}
        This is where the post contents is.
        {% endblock body %}
    </section>

    {% comment %}
    <footer id="post-meta" class="clearfix">
        <div><span>Posted on </span> {{ date|date:"M j" }}</div>
        <div><span>Written by</span> {{ author }}</div>
    </footer>
    {% endcomment %}
</article>
{% endblock %}
