{% extends "base.html" %}

{% block title %}{{ title }} - {{ block.super }}{% endblock title %}

{% block header %}
    <meta property="og:url" content="https://limedaring.com/{{ path|cut:".html" }}/">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:description"
          name="description" content="{{ excerpt }}">
    <meta name="twitter:site" content="@limedaring" />
    {% if featuredimage %}
    <meta name="twitter:image"
          property="og:image" content="https://limedaring.com/static{{ featuredimage }}">
    {% else %}
    <meta name="twitter:image"
          property="og:image" content="https://limedaring.com/static/images/tracy-osborn_atom-images.jpg">
    {% endif %}
    <meta name="twitter:card" content="summary">
{% endblock %}

{% block bodyclass %}
<body id="post" class="{{ title|slugify }}">
{% endblock %}

{% block intro %}
<div class="intro">
    <h1><a href="{% url '/index.html' %}">Tracy Osborn</a></h1>
    <div class="subheader">
        <h2>loves to chat about entrepreneurship, teaching, design, development, and more.</h2>
    </div>
    {% include 'includes/social-links.html' %}
    <div class="hidden-sm-down">
        {% include 'includes/blog-sidebar.html' %}
    </div>
</div>
{% endblock intro %}

{% block contentsize %}
<div class="col-lg-12">
{% endblock contentsize %}

{% block content %}

<article class="post">
    <header>
        <h1>{{ title }}</h1>
        <h2 class="headline">{{ headline }}</h2>
    </header>

    <section class="post-body">
        {% block body %}
        This is where the post contents is.
        {% endblock body %}
    </section>

    <footer class="post-meta clearfix">
        <div><span>Posted on </span> {{ date|date:"F j, Y" }}</div>
        <section class="sharing">
            <div>
                <span>Share: </span>
                <a class="twitter" href="http://twitter.com/home/?status={{ title }} https://hellowebapp.com/{{ path|cut:".html" }}/ (via @hellowebapp)"><i class="fa fa-twitter"></i></a>

                <a class="facebook" href="#" onclick="
                    window.open(
                    'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                    'facebook-share-dialog',
                    'width=626,height=436');
                    return false;"><i class="fa fa-facebook"></i>
                </a>
                <a class="mail" href="mailto:?subject={{ title }}&amp;body=Here's the link: https://hellowebapp.com/{{ path|cut:".html" }}/"><i class="fa fa-envelope"></i></a>
            </div>
        </section>
        <section class="prevnext row" style="margin-top: 25px;">
            <div class="col-md-6">
                {% if nextPost %}
                Next:<br/>
                {% if nextPost.external %}
                <a href='{{ nextPost.external }}' target="_new">
                    {{ nextPost.title }}
                </a> <i class="fa fa-external-link" style="color: #999; font-size: 0.8rem; padding-left: 5px;"></i>
                {% else %}
                <a href='/{{ nextPost.path|cut:".html" }}'>
                    {{ nextPost.title }}
                </a>
                {% endif %}
                {% endif %}
            </div>
            <div class="col-md-6 text-right">
                {% if prevPost %}
                Previous:<br/>
                {% if prevPost.external %}
                <a href='{{ prevPost.external }}' target="_new">
                    {{ prevPost.title }}
                </a> <i class="fa fa-external-link" style="color: #999; font-size: 0.8rem; padding-left: 5px;"></i>
                {% else %}
                <a href='/{{ prevPost.path|cut:".html" }}'>
                    {{ prevPost.title }}
                </a>
                {% endif %}
                {% endif %}
            </div>
        </section>
    </footer>

    {% comment %}
    <footer id="post-meta" class="clearfix">
        <div><span>Posted on </span> {{ date|date:"M j" }}</div>
        <div><span>Written by</span> {{ author }}</div>
    </footer>
    {% endcomment %}
</article>
{% endblock %}
