<ul class="list-inline social-media" style="margin-top: 25px;">
    <li><a href="//twitter.com/limedaring"><i class="fa fa-twitter"></i></a></li>
    <li><a href="//facebook.com/tracy.osborn"><i class="fa fa-facebook"></i></a></li>
    <li><a href="//github.com/limedaring"><i class="fa fa-github"></i></a></li>
    <li><a href="mailto:tracy@limedaring.com"><i class="fa fa-envelope"></i></a></li>
    <li><a href="/rss.xml"><i class="fa fa-rss"></i></a></li>
</ul>

<h2 class="intro-cats">Categories</h2>
<ul class="list-unstyled categories">
    <li>
        <a href="{% url '/entrepreneurship.html' %}">Entrepreneurship</a>
    </li>
    <li>
        <a href="{% url '/onspeaking.html' %}">Speaking</a>
    </li>
    <li>
        <a href="{% url '/howto.html' %}">instructionals</a>
    </li>
    <li>
        <a href="{% url '/design.html' %}">Design</a>
    </li>
    <li>
        <a href="{% url '/development.html' %}">Development</a>
    </li>
    <li>
        <a href="{% url '/authorship.html' %}">Authorship</a>
    </li>
    <li>
        <a href="{% url '/women-in-tech.html' %}">Women in Tech</a>
    </li>
    <li>
        <a href="{% url '/outdoorsy.html' %}">Being Outdoors</a>
    </li>
    <li>
        <a href="{% url '/personal.html' %}">Personal</a>
    </li>
</ul>
